In [21]:
import pandas as pd
import numpy as np
import json

In [22]:
df = pd.read_excel("../data/crawling_result_with_codenames.xlsx")

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20118 entries, 0 to 20117
Data columns (total 31 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              20118 non-null  object
 1   tournament_title  20118 non-null  object
 2   patch             20118 non-null  object
 3   blueteam          20118 non-null  object
 4   redteam           20118 non-null  object
 5   winner_side       20118 non-null  object
 6   ban_0             20074 non-null  object
 7   ban_1             20091 non-null  object
 8   ban_2             20086 non-null  object
 9   ban_3             16912 non-null  object
 10  ban_4             16826 non-null  object
 11  ban_5             20066 non-null  object
 12  ban_6             20090 non-null  object
 13  ban_7             20082 non-null  object
 14  ban_8             16917 non-null  object
 15  ban_9             16815 non-null  object
 16  pick_0            20118 non-null  object
 17  pick_1            20118 non-null  object
 18  pick_2            20118 non-null  object
 19  pick_3            20118 non-null  object
 20  pick_4            20118 non-null  object
 21  pick_5            20118 non-null  object
 22  pick_6            20118 non-null  object
 23  pick_7            20118 non-null  object
 24  pick_8            20118 non-null  object
 25  pick_9            20118 non-null  object
 26  tournament_name   20118 non-null  object
 27  tournament_id     20118 non-null  int64
 28  tournament_slug   20118 non-null  object
 29  blueteam_code     20118 non-null  object
 30  redteam_code      20118 non-null  object
dtypes: int64(1), object(30)
memory usage: 4.8+ MB

In [18]:
result = []
for idx, row in df.iterrows():
    if row["blueteam_code"] is np.nan:
        result.append(row["blueteam"])
    if row["redteam_code"] is np.nan:
        result.append(row["redteam"])

list(set(result))

['Beşiktaş Esports', 'Beşiktaş.Oyun Hizmetleri', 'Fenerbahçe Esports']

In [20]:
with open('../data/team_code.json', 'r') as f:
    team_code_map = json.load(f)
if 'Beşiktaş Esports' in team_code_map: print('Beşiktaş Esports')
if "Beşiktaş.Oyun Hizmetleri" in team_code_map: print("Beşiktaş.Oyun Hizmetleri")
if "Fenerbahçe Esports" in team_code_map: print("Fenerbahçe Esports")
print(team_code_map["Beşiktaş Esports"])

Beşiktaş Esports
Beşiktaş.Oyun Hizmetleri
Fenerbahçe Esports
BJK

In [11]:
for idx, row in df.iterrows():
    if row["blueteam"] == 'Beşiktaş Esports': row["blueteam_code"] = "BJK"
    if row["blueteam"] == 'Beşiktaş.Oyun Hizmetleri': row["blueteam_code"] = "BJKOH"
    if row["blueteam"] == 'Fenerbahçe Esports': row["blueteam_code"] = "FB"
    if row["redteam"] == 'Beşiktaş Esports': row["redteam_code"] = "BJK"
    if row["redteam"] == 'Beşiktaş.Oyun Hizmetleri': row["redteam_code"] = "BJKOH"
    if row["redteam"] == 'Fenerbahçe Esports': row["redteam_code"] = "FB"

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20118 entries, 0 to 20117
Data columns (total 31 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              20118 non-null  object
 1   tournament_title  20118 non-null  object
 2   patch             20118 non-null  object
 3   blueteam          20118 non-null  object
 4   redteam           20118 non-null  object
 5   winner_side       20118 non-null  object
 6   ban_0             20074 non-null  object
 7   ban_1             20091 non-null  object
 8   ban_2             20086 non-null  object
 9   ban_3             16912 non-null  object
 10  ban_4             16826 non-null  object
 11  ban_5             20066 non-null  object
 12  ban_6             20090 non-null  object
 13  ban_7             20082 non-null  object
 14  ban_8             16917 non-null  object
 15  ban_9             16815 non-null  object
 16  pick_0            20118 non-null  object
 17  pick_1            20118 non-null  object
 18  pick_2            20118 non-null  object
 19  pick_3            20118 non-null  object
 20  pick_4            20118 non-null  object
 21  pick_5            20118 non-null  object
 22  pick_6            20118 non-null  object
 23  pick_7            20118 non-null  object
 24  pick_8            20118 non-null  object
 25  pick_9            20118 non-null  object
 26  tournament_name   20118 non-null  object
 27  tournament_id     20118 non-null  int64
 28  tournament_slug   20118 non-null  object
 29  blueteam_code     19940 non-null  object
 30  redteam_code      19937 non-null  object
dtypes: int64(1), object(30)
memory usage: 4.8+ MB