In [65]:
import pandas as pd
import numpy as np
import json
import tqdm

In [66]:
game_ids_df = pd.read_excel("../data/game_ids.xlsx")
game_ids_df = game_ids_df.astype({"tournamentId":"str", "matchId":"str", "gameId":"str"})
game_ids_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9287 entries, 0 to 9286
Data columns (total 37 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   startTime(match)         9287 non-null   object
 1   tournamentId             9287 non-null   object
 2   blockName                9287 non-null   object
 3   leagueName               9287 non-null   object
 4   matchId                  9287 non-null   object
 5   bestof                   9287 non-null   int64
 6   blueteam_name            9287 non-null   object
 7   blueteam_code            9287 non-null   object
 8   blueteam_win             9287 non-null   int64
 9   redteam_name             9287 non-null   object
 10  redteam_code             9287 non-null   object
 11  redteam_win              9287 non-null   int64
 12  gameNumberInAMatch       9287 non-null   int64
 13  gameId                   9287 non-null   object
 14  patch                    8081 non-null   float64
 15  pick_0                   8023 non-null   object
 16  pick_1                   8023 non-null   object
 17  pick_2                   8023 non-null   object
 18  pick_3                   8023 non-null   object
 19  pick_4                   8023 non-null   object
 20  pick_5                   8023 non-null   object
 21  pick_6                   8023 non-null   object
 22  pick_7                   8023 non-null   object
 23  pick_8                   8023 non-null   object
 24  pick_9                   8023 non-null   object
 25  summonerName_0           8023 non-null   object
 26  summonerName_1           8023 non-null   object
 27  summonerName_2           8023 non-null   object
 28  summonerName_3           8023 non-null   object
 29  summonerName_4           8023 non-null   object
 30  summonerName_5           8023 non-null   object
 31  summonerName_6           8023 non-null   object
 32  summonerName_7           8023 non-null   object
 33  summonerName_8           8023 non-null   object
 34  summonerName_9           8023 non-null   object
 35  teamcode_blue_on_detail  8023 non-null   object
 36  teamcode_red_on_detail   8023 non-null   object
dtypes: float64(1), int64(4), object(32)
memory usage: 2.6+ MB

In [67]:
game_ids_with_picks_df = game_ids_df[pd.isna(game_ids_df["pick_0"]) == False].copy()
game_ids_with_picks_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8023 entries, 0 to 9286
Data columns (total 37 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   startTime(match)         8023 non-null   object
 1   tournamentId             8023 non-null   object
 2   blockName                8023 non-null   object
 3   leagueName               8023 non-null   object
 4   matchId                  8023 non-null   object
 5   bestof                   8023 non-null   int64
 6   blueteam_name            8023 non-null   object
 7   blueteam_code            8023 non-null   object
 8   blueteam_win             8023 non-null   int64
 9   redteam_name             8023 non-null   object
 10  redteam_code             8023 non-null   object
 11  redteam_win              8023 non-null   int64
 12  gameNumberInAMatch       8023 non-null   int64
 13  gameId                   8023 non-null   object
 14  patch                    8023 non-null   float64
 15  pick_0                   8023 non-null   object
 16  pick_1                   8023 non-null   object
 17  pick_2                   8023 non-null   object
 18  pick_3                   8023 non-null   object
 19  pick_4                   8023 non-null   object
 20  pick_5                   8023 non-null   object
 21  pick_6                   8023 non-null   object
 22  pick_7                   8023 non-null   object
 23  pick_8                   8023 non-null   object
 24  pick_9                   8023 non-null   object
 25  summonerName_0           8023 non-null   object
 26  summonerName_1           8023 non-null   object
 27  summonerName_2           8023 non-null   object
 28  summonerName_3           8023 non-null   object
 29  summonerName_4           8023 non-null   object
 30  summonerName_5           8023 non-null   object
 31  summonerName_6           8023 non-null   object
 32  summonerName_7           8023 non-null   object
 33  summonerName_8           8023 non-null   object
 34  summonerName_9           8023 non-null   object
 35  teamcode_blue_on_detail  8023 non-null   object
 36  teamcode_red_on_detail   8023 non-null   object
dtypes: float64(1), int64(4), object(32)
memory usage: 2.3+ MB

In [68]:
crawled_df = pd.read_excel("../data/crawling_result_with_codenames.xlsx")
crawled_df = crawled_df.astype({"tournament_id":"str", "patch":"str"})
crawled_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20179 entries, 0 to 20178
Data columns (total 41 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              20179 non-null  object
 1   tournament_title  20179 non-null  object
 2   patch             20179 non-null  object
 3   blueteam          20179 non-null  object
 4   redteam           20179 non-null  object
 5   winner_side       20179 non-null  object
 6   ban_0             20135 non-null  object
 7   ban_1             20152 non-null  object
 8   ban_2             20147 non-null  object
 9   ban_3             16973 non-null  object
 10  ban_4             16887 non-null  object
 11  ban_5             20127 non-null  object
 12  ban_6             20151 non-null  object
 13  ban_7             20143 non-null  object
 14  ban_8             16978 non-null  object
 15  ban_9             16875 non-null  object
 16  pick_0            20179 non-null  object
 17  pick_1            20179 non-null  object
 18  pick_2            20179 non-null  object
 19  pick_3            20179 non-null  object
 20  pick_4            20179 non-null  object
 21  pick_5            20179 non-null  object
 22  pick_6            20179 non-null  object
 23  pick_7            20179 non-null  object
 24  pick_8            20179 non-null  object
 25  pick_9            20179 non-null  object
 26  summonerName_0    20179 non-null  object
 27  summonerName_1    20179 non-null  object
 28  summonerName_2    20179 non-null  object
 29  summonerName_3    20179 non-null  object
 30  summonerName_4    20178 non-null  object
 31  summonerName_5    20179 non-null  object
 32  summonerName_6    20179 non-null  object
 33  summonerName_7    20179 non-null  object
 34  summonerName_8    20179 non-null  object
 35  summonerName_9    20179 non-null  object
 36  tournament_name   20179 non-null  object
 37  tournament_id     20179 non-null  object
 38  tournament_slug   20179 non-null  object
 39  blueteam_code     20179 non-null  object
 40  redteam_code      20179 non-null  object
dtypes: object(41)
memory usage: 6.3+ MB

In [69]:
pick_column_list = [f"pick_{x}" for x in range(10)]
left_on = ["tournamentId", "teamcode_blue_on_detail", "teamcode_red_on_detail"]
right_on = ["tournament_id", "blueteam_code", "redteam_code"]
left_on.extend(pick_column_list)
right_on.extend(pick_column_list)
game_ids_with_picks_df = game_ids_df.astype({"patch":"str"})
print(left_on)
print(right_on)

['tournamentId', 'teamcode_blue_on_detail', 'teamcode_red_on_detail', 'pick_0', 'pick_1', 'pick_2', 'pick_3', 'pick_4', 'pick_5', 'pick_6', 'pick_7', 'pick_8', 'pick_9']
['tournament_id', 'blueteam_code', 'redteam_code', 'pick_0', 'pick_1', 'pick_2', 'pick_3', 'pick_4', 'pick_5', 'pick_6', 'pick_7', 'pick_8', 'pick_9']

In [70]:
game_ids_with_picks_df[left_on].head()

,tournamentId,teamcode_blue_on_detail,teamcode_red_on_detail,pick_0,pick_1,pick_2,pick_3,pick_4,pick_5,pick_6,pick_7,pick_8,pick_9
0,112099354464733424,FLY,PSG,Urgot,Sejuani,Taliyah,Jinx,Nautilus,Rumble,JarvanIV,Azir,Senna,TahmKench
1,112099354464733424,FLY,PSG,Urgot,Maokai,Taliyah,Lucian,Nami,KSante,Sejuani,Azir,Kalista,Ashe
2,112099354464733424,PSG,FLY,KSante,XinZhao,Karma,Kalista,Rell,Olaf,Sejuani,Orianna,Varus,Nautilus
3,112099354464733424,T1,EST,KSante,LeeSin,Orianna,Kalista,Neeko,Yone,Volibear,Ahri,Draven,Rell
4,112099354464733424,EST,T1,Aatrox,LeeSin,Ahri,Draven,Ashe,KSante,Viego,Orianna,Kalista,Rumble

In [71]:
crawled_df[right_on].head()

,tournament_id,blueteam_code,redteam_code,pick_0,pick_1,pick_2,pick_3,pick_4,pick_5,pick_6,pick_7,pick_8,pick_9
0,112099354464733424,GEN,BLG,Rumble,Lee Sin,Azir,Senna,Maokai,Camille,Nidalee,Tristana,Zeri,Nautilus
1,112099354464733424,BLG,GEN,Jax,Nidalee,Jayce,Senna,Tahm Kench,Rumble,Lee Sin,Hwei,Kalista,Ashe
2,112099354464733424,BLG,GEN,Camille,Xin Zhao,Orianna,Varus,Ashe,Zac,Sejuani,Yone,Kalista,Blitzcrank
3,112099354464733424,GEN,BLG,K'Sante,Karthus,Yone,Senna,Tahm Kench,Twisted Fate,Xin Zhao,Neeko,Lucian,Nami
4,112099354464733424,BLG,T1,Camille,Xin Zhao,Neeko,Senna,Ornn,K'Sante,Viego,Taliyah,Varus,Nautilus

In [72]:
picks_of_game_ids_set = set(np.concatenate(game_ids_with_picks_df.loc[:,pick_column_list].values.tolist()).tolist())
len(picks_of_game_ids_set)

165

In [73]:
picks_of_crawled_set = set(np.concatenate(crawled_df.loc[:,pick_column_list].values.tolist()).tolist())
len(picks_of_crawled_set)

165

In [74]:
difference_of_game_ids = picks_of_game_ids_set.difference(picks_of_crawled_set)
difference_of_crawled = picks_of_crawled_set.difference(picks_of_game_ids_set)
print(difference_of_game_ids)
print(len(difference_of_game_ids))
print(difference_of_crawled)
print(len(difference_of_crawled))

{'Belveth', 'Leblanc', 'MissFortune', 'AurelionSol', 'XinZhao', 'JarvanIV', 'Renata', 'RekSai', 'Kaisa', 'FiddleSticks', 'MonkeyKing', 'Khazix', 'Chogath', 'TwistedFate', 'TahmKench', 'DrMundo', 'KSante', 'nan', 'Velkoz', 'LeeSin', 'KogMaw'}
21
{"Vel'Koz", "Kha'Zix", "Kog'Maw", 'Master Yi', 'Twisted Fate', "Kai'Sa", 'Miss Fortune', "Bel'Veth", 'Jarvan IV', 'Lee Sin', 'Aurelion Sol', 'Tahm Kench', "K'Sante", 'Xin Zhao', 'Fiddlesticks', 'Dr. Mundo', "Cho'Gath", "Rek'Sai", 'Renata Glasc', 'Wukong', 'LeBlanc'}
21

In [75]:
with open('../data/pick_name_not_the_same.json', 'r') as f:
    pick_difference_map = json.load(f)
crawled_df[pick_column_list] = crawled_df[pick_column_list].replace(pick_difference_map)

In [76]:
picks_of_game_ids_set = set(np.concatenate(game_ids_with_picks_df.loc[:,pick_column_list].values.tolist()).tolist())
picks_of_crawled_set = set(np.concatenate(crawled_df.loc[:,pick_column_list].values.tolist()).tolist())
difference_of_game_ids = picks_of_game_ids_set.difference(picks_of_crawled_set)
difference_of_crawled = picks_of_crawled_set.difference(picks_of_game_ids_set)
print(difference_of_game_ids)
print(len(difference_of_game_ids))
print(difference_of_crawled)
print(len(difference_of_crawled))

{'nan'}
1
{'Master Yi'}
1

In [77]:
result_df = pd.merge(game_ids_with_picks_df, crawled_df, how = "left", left_on = left_on, right_on = right_on)

In [78]:
result_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9383 entries, 0 to 9382
Data columns (total 68 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   startTime(match)         9383 non-null   object
 1   tournamentId             9383 non-null   object
 2   blockName                9383 non-null   object
 3   leagueName               9383 non-null   object
 4   matchId                  9383 non-null   object
 5   bestof                   9383 non-null   int64
 6   blueteam_name            9383 non-null   object
 7   blueteam_code_x          9383 non-null   object
 8   blueteam_win             9383 non-null   int64
 9   redteam_name             9383 non-null   object
 10  redteam_code_x           9383 non-null   object
 11  redteam_win              9383 non-null   int64
 12  gameNumberInAMatch       9383 non-null   int64
 13  gameId                   9383 non-null   object
 14  patch_x                  9383 non-null   object
 15  pick_0                   8119 non-null   object
 16  pick_1                   8119 non-null   object
 17  pick_2                   8119 non-null   object
 18  pick_3                   8119 non-null   object
 19  pick_4                   8119 non-null   object
 20  pick_5                   8119 non-null   object
 21  pick_6                   8119 non-null   object
 22  pick_7                   8119 non-null   object
 23  pick_8                   8119 non-null   object
 24  pick_9                   8119 non-null   object
 25  summonerName_0_x         8119 non-null   object
 26  summonerName_1_x         8119 non-null   object
 27  summonerName_2_x         8119 non-null   object
 28  summonerName_3_x         8119 non-null   object
 29  summonerName_4_x         8119 non-null   object
 30  summonerName_5_x         8119 non-null   object
 31  summonerName_6_x         8119 non-null   object
 32  summonerName_7_x         8119 non-null   object
 33  summonerName_8_x         8119 non-null   object
 34  summonerName_9_x         8119 non-null   object
 35  teamcode_blue_on_detail  8119 non-null   object
 36  teamcode_red_on_detail   8119 non-null   object
 37  date                     6481 non-null   object
 38  tournament_title         6481 non-null   object
 39  patch_y                  6481 non-null   object
 40  blueteam                 6481 non-null   object
 41  redteam                  6481 non-null   object
 42  winner_side              6481 non-null   object
 43  ban_0                    6480 non-null   object
 44  ban_1                    6480 non-null   object
 45  ban_2                    6480 non-null   object
 46  ban_3                    6474 non-null   object
 47  ban_4                    6434 non-null   object
 48  ban_5                    6481 non-null   object
 49  ban_6                    6481 non-null   object
 50  ban_7                    6481 non-null   object
 51  ban_8                    6479 non-null   object
 52  ban_9                    6444 non-null   object
 53  summonerName_0_y         6481 non-null   object
 54  summonerName_1_y         6481 non-null   object
 55  summonerName_2_y         6481 non-null   object
 56  summonerName_3_y         6481 non-null   object
 57  summonerName_4_y         6481 non-null   object
 58  summonerName_5_y         6481 non-null   object
 59  summonerName_6_y         6481 non-null   object
 60  summonerName_7_y         6481 non-null   object
 61  summonerName_8_y         6481 non-null   object
 62  summonerName_9_y         6481 non-null   object
 63  tournament_name          6481 non-null   object
 64  tournament_id            6481 non-null   object
 65  tournament_slug          6481 non-null   object
 66  blueteam_code_y          6481 non-null   object
 67  redteam_code_y           6481 non-null   object
dtypes: int64(4), object(64)
memory usage: 4.9+ MB

In [79]:
result_df.to_excel("../data/game_ids_merged.xlsx", index=False)

In [80]:
result_with_picks_df = result_df[pd.isna(result_df["pick_0"]) == False].copy()
result_with_picks_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8119 entries, 0 to 9382
Data columns (total 68 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   startTime(match)         8119 non-null   object
 1   tournamentId             8119 non-null   object
 2   blockName                8119 non-null   object
 3   leagueName               8119 non-null   object
 4   matchId                  8119 non-null   object
 5   bestof                   8119 non-null   int64
 6   blueteam_name            8119 non-null   object
 7   blueteam_code_x          8119 non-null   object
 8   blueteam_win             8119 non-null   int64
 9   redteam_name             8119 non-null   object
 10  redteam_code_x           8119 non-null   object
 11  redteam_win              8119 non-null   int64
 12  gameNumberInAMatch       8119 non-null   int64
 13  gameId                   8119 non-null   object
 14  patch_x                  8119 non-null   object
 15  pick_0                   8119 non-null   object
 16  pick_1                   8119 non-null   object
 17  pick_2                   8119 non-null   object
 18  pick_3                   8119 non-null   object
 19  pick_4                   8119 non-null   object
 20  pick_5                   8119 non-null   object
 21  pick_6                   8119 non-null   object
 22  pick_7                   8119 non-null   object
 23  pick_8                   8119 non-null   object
 24  pick_9                   8119 non-null   object
 25  summonerName_0_x         8119 non-null   object
 26  summonerName_1_x         8119 non-null   object
 27  summonerName_2_x         8119 non-null   object
 28  summonerName_3_x         8119 non-null   object
 29  summonerName_4_x         8119 non-null   object
 30  summonerName_5_x         8119 non-null   object
 31  summonerName_6_x         8119 non-null   object
 32  summonerName_7_x         8119 non-null   object
 33  summonerName_8_x         8119 non-null   object
 34  summonerName_9_x         8119 non-null   object
 35  teamcode_blue_on_detail  8119 non-null   object
 36  teamcode_red_on_detail   8119 non-null   object
 37  date                     6481 non-null   object
 38  tournament_title         6481 non-null   object
 39  patch_y                  6481 non-null   object
 40  blueteam                 6481 non-null   object
 41  redteam                  6481 non-null   object
 42  winner_side              6481 non-null   object
 43  ban_0                    6480 non-null   object
 44  ban_1                    6480 non-null   object
 45  ban_2                    6480 non-null   object
 46  ban_3                    6474 non-null   object
 47  ban_4                    6434 non-null   object
 48  ban_5                    6481 non-null   object
 49  ban_6                    6481 non-null   object
 50  ban_7                    6481 non-null   object
 51  ban_8                    6479 non-null   object
 52  ban_9                    6444 non-null   object
 53  summonerName_0_y         6481 non-null   object
 54  summonerName_1_y         6481 non-null   object
 55  summonerName_2_y         6481 non-null   object
 56  summonerName_3_y         6481 non-null   object
 57  summonerName_4_y         6481 non-null   object
 58  summonerName_5_y         6481 non-null   object
 59  summonerName_6_y         6481 non-null   object
 60  summonerName_7_y         6481 non-null   object
 61  summonerName_8_y         6481 non-null   object
 62  summonerName_9_y         6481 non-null   object
 63  tournament_name          6481 non-null   object
 64  tournament_id            6481 non-null   object
 65  tournament_slug          6481 non-null   object
 66  blueteam_code_y          6481 non-null   object
 67  redteam_code_y           6481 non-null   object
dtypes: int64(4), object(64)
memory usage: 4.3+ MB

In [81]:
result_with_picks_df.to_excel("../data/game_ids_merged_with_picks.xlsx", index=False)

In [82]:
def concat_columns(row):
    return f"{row["blueteam_name"]} vs {row["redteam_name"]}"

In [83]:
def danpan_winnerside(row):
    if row["bestof"] == 1:
        return "Blue" if row["blueteam_win"] == 1 else "Red"
    else:
        return np.nan

In [84]:
handmade_df = result_with_picks_df[pd.isna(result_with_picks_df["winner_side"]) == True].copy()
handmade_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1638 entries, 181 to 9333
Data columns (total 68 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   startTime(match)         1638 non-null   object
 1   tournamentId             1638 non-null   object
 2   blockName                1638 non-null   object
 3   leagueName               1638 non-null   object
 4   matchId                  1638 non-null   object
 5   bestof                   1638 non-null   int64
 6   blueteam_name            1638 non-null   object
 7   blueteam_code_x          1638 non-null   object
 8   blueteam_win             1638 non-null   int64
 9   redteam_name             1638 non-null   object
 10  redteam_code_x           1638 non-null   object
 11  redteam_win              1638 non-null   int64
 12  gameNumberInAMatch       1638 non-null   int64
 13  gameId                   1638 non-null   object
 14  patch_x                  1638 non-null   object
 15  pick_0                   1638 non-null   object
 16  pick_1                   1638 non-null   object
 17  pick_2                   1638 non-null   object
 18  pick_3                   1638 non-null   object
 19  pick_4                   1638 non-null   object
 20  pick_5                   1638 non-null   object
 21  pick_6                   1638 non-null   object
 22  pick_7                   1638 non-null   object
 23  pick_8                   1638 non-null   object
 24  pick_9                   1638 non-null   object
 25  summonerName_0_x         1638 non-null   object
 26  summonerName_1_x         1638 non-null   object
 27  summonerName_2_x         1638 non-null   object
 28  summonerName_3_x         1638 non-null   object
 29  summonerName_4_x         1638 non-null   object
 30  summonerName_5_x         1638 non-null   object
 31  summonerName_6_x         1638 non-null   object
 32  summonerName_7_x         1638 non-null   object
 33  summonerName_8_x         1638 non-null   object
 34  summonerName_9_x         1638 non-null   object
 35  teamcode_blue_on_detail  1638 non-null   object
 36  teamcode_red_on_detail   1638 non-null   object
 37  date                     0 non-null      object
 38  tournament_title         0 non-null      object
 39  patch_y                  0 non-null      object
 40  blueteam                 0 non-null      object
 41  redteam                  0 non-null      object
 42  winner_side              0 non-null      object
 43  ban_0                    0 non-null      object
 44  ban_1                    0 non-null      object
 45  ban_2                    0 non-null      object
 46  ban_3                    0 non-null      object
 47  ban_4                    0 non-null      object
 48  ban_5                    0 non-null      object
 49  ban_6                    0 non-null      object
 50  ban_7                    0 non-null      object
 51  ban_8                    0 non-null      object
 52  ban_9                    0 non-null      object
 53  summonerName_0_y         0 non-null      object
 54  summonerName_1_y         0 non-null      object
 55  summonerName_2_y         0 non-null      object
 56  summonerName_3_y         0 non-null      object
 57  summonerName_4_y         0 non-null      object
 58  summonerName_5_y         0 non-null      object
 59  summonerName_6_y         0 non-null      object
 60  summonerName_7_y         0 non-null      object
 61  summonerName_8_y         0 non-null      object
 62  summonerName_9_y         0 non-null      object
 63  tournament_name          0 non-null      object
 64  tournament_id            0 non-null      object
 65  tournament_slug          0 non-null      object
 66  blueteam_code_y          0 non-null      object
 67  redteam_code_y           0 non-null      object
dtypes: int64(4), object(64)
memory usage: 883.0+ KB

In [85]:
handmade_df["winner_side"] = handmade_df.apply(danpan_winnerside, axis=1)
handmade_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1638 entries, 181 to 9333
Data columns (total 68 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   startTime(match)         1638 non-null   object
 1   tournamentId             1638 non-null   object
 2   blockName                1638 non-null   object
 3   leagueName               1638 non-null   object
 4   matchId                  1638 non-null   object
 5   bestof                   1638 non-null   int64
 6   blueteam_name            1638 non-null   object
 7   blueteam_code_x          1638 non-null   object
 8   blueteam_win             1638 non-null   int64
 9   redteam_name             1638 non-null   object
 10  redteam_code_x           1638 non-null   object
 11  redteam_win              1638 non-null   int64
 12  gameNumberInAMatch       1638 non-null   int64
 13  gameId                   1638 non-null   object
 14  patch_x                  1638 non-null   object
 15  pick_0                   1638 non-null   object
 16  pick_1                   1638 non-null   object
 17  pick_2                   1638 non-null   object
 18  pick_3                   1638 non-null   object
 19  pick_4                   1638 non-null   object
 20  pick_5                   1638 non-null   object
 21  pick_6                   1638 non-null   object
 22  pick_7                   1638 non-null   object
 23  pick_8                   1638 non-null   object
 24  pick_9                   1638 non-null   object
 25  summonerName_0_x         1638 non-null   object
 26  summonerName_1_x         1638 non-null   object
 27  summonerName_2_x         1638 non-null   object
 28  summonerName_3_x         1638 non-null   object
 29  summonerName_4_x         1638 non-null   object
 30  summonerName_5_x         1638 non-null   object
 31  summonerName_6_x         1638 non-null   object
 32  summonerName_7_x         1638 non-null   object
 33  summonerName_8_x         1638 non-null   object
 34  summonerName_9_x         1638 non-null   object
 35  teamcode_blue_on_detail  1638 non-null   object
 36  teamcode_red_on_detail   1638 non-null   object
 37  date                     0 non-null      object
 38  tournament_title         0 non-null      object
 39  patch_y                  0 non-null      object
 40  blueteam                 0 non-null      object
 41  redteam                  0 non-null      object
 42  winner_side              755 non-null    object
 43  ban_0                    0 non-null      object
 44  ban_1                    0 non-null      object
 45  ban_2                    0 non-null      object
 46  ban_3                    0 non-null      object
 47  ban_4                    0 non-null      object
 48  ban_5                    0 non-null      object
 49  ban_6                    0 non-null      object
 50  ban_7                    0 non-null      object
 51  ban_8                    0 non-null      object
 52  ban_9                    0 non-null      object
 53  summonerName_0_y         0 non-null      object
 54  summonerName_1_y         0 non-null      object
 55  summonerName_2_y         0 non-null      object
 56  summonerName_3_y         0 non-null      object
 57  summonerName_4_y         0 non-null      object
 58  summonerName_5_y         0 non-null      object
 59  summonerName_6_y         0 non-null      object
 60  summonerName_7_y         0 non-null      object
 61  summonerName_8_y         0 non-null      object
 62  summonerName_9_y         0 non-null      object
 63  tournament_name          0 non-null      object
 64  tournament_id            0 non-null      object
 65  tournament_slug          0 non-null      object
 66  blueteam_code_y          0 non-null      object
 67  redteam_code_y           0 non-null      object
dtypes: int64(4), object(64)
memory usage: 883.0+ KB

In [86]:
real_handmade_df = handmade_df[pd.isna(handmade_df["winner_side"]) == True].copy()
real_handmade_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 883 entries, 288 to 9333
Data columns (total 68 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   startTime(match)         883 non-null    object
 1   tournamentId             883 non-null    object
 2   blockName                883 non-null    object
 3   leagueName               883 non-null    object
 4   matchId                  883 non-null    object
 5   bestof                   883 non-null    int64
 6   blueteam_name            883 non-null    object
 7   blueteam_code_x          883 non-null    object
 8   blueteam_win             883 non-null    int64
 9   redteam_name             883 non-null    object
 10  redteam_code_x           883 non-null    object
 11  redteam_win              883 non-null    int64
 12  gameNumberInAMatch       883 non-null    int64
 13  gameId                   883 non-null    object
 14  patch_x                  883 non-null    object
 15  pick_0                   883 non-null    object
 16  pick_1                   883 non-null    object
 17  pick_2                   883 non-null    object
 18  pick_3                   883 non-null    object
 19  pick_4                   883 non-null    object
 20  pick_5                   883 non-null    object
 21  pick_6                   883 non-null    object
 22  pick_7                   883 non-null    object
 23  pick_8                   883 non-null    object
 24  pick_9                   883 non-null    object
 25  summonerName_0_x         883 non-null    object
 26  summonerName_1_x         883 non-null    object
 27  summonerName_2_x         883 non-null    object
 28  summonerName_3_x         883 non-null    object
 29  summonerName_4_x         883 non-null    object
 30  summonerName_5_x         883 non-null    object
 31  summonerName_6_x         883 non-null    object
 32  summonerName_7_x         883 non-null    object
 33  summonerName_8_x         883 non-null    object
 34  summonerName_9_x         883 non-null    object
 35  teamcode_blue_on_detail  883 non-null    object
 36  teamcode_red_on_detail   883 non-null    object
 37  date                     0 non-null      object
 38  tournament_title         0 non-null      object
 39  patch_y                  0 non-null      object
 40  blueteam                 0 non-null      object
 41  redteam                  0 non-null      object
 42  winner_side              0 non-null      object
 43  ban_0                    0 non-null      object
 44  ban_1                    0 non-null      object
 45  ban_2                    0 non-null      object
 46  ban_3                    0 non-null      object
 47  ban_4                    0 non-null      object
 48  ban_5                    0 non-null      object
 49  ban_6                    0 non-null      object
 50  ban_7                    0 non-null      object
 51  ban_8                    0 non-null      object
 52  ban_9                    0 non-null      object
 53  summonerName_0_y         0 non-null      object
 54  summonerName_1_y         0 non-null      object
 55  summonerName_2_y         0 non-null      object
 56  summonerName_3_y         0 non-null      object
 57  summonerName_4_y         0 non-null      object
 58  summonerName_5_y         0 non-null      object
 59  summonerName_6_y         0 non-null      object
 60  summonerName_7_y         0 non-null      object
 61  summonerName_8_y         0 non-null      object
 62  summonerName_9_y         0 non-null      object
 63  tournament_name          0 non-null      object
 64  tournament_id            0 non-null      object
 65  tournament_slug          0 non-null      object
 66  blueteam_code_y          0 non-null      object
 67  redteam_code_y           0 non-null      object
dtypes: int64(4), object(64)
memory usage: 476.0+ KB

In [87]:
handmade_df.to_excel("../data/handmade_game_ids.xlsx",index = False)

In [88]:
columns = ["startTime(match)", "tournamentId", "teamcode_blue_on_detail", "teamcode_red_on_detail", "winner_side", "gameId", "patch_x", "blueteam_name", "redteam_name"]
columns.extend([f"pick_{i}" for i in range(10)])
columns.extend([f"summonerName_{i}_x" for i in range(10)])
handmade_df_simple = handmade_df.loc[:, columns]
handmade_df_simple["match_vs"] = handmade_df_simple.apply(concat_columns, axis = 1)
handmade_df_simple.drop(["blueteam_name", "redteam_name"], axis=1, inplace=True)
columns_order = ["startTime(match)", "tournamentId", "match_vs", "teamcode_blue_on_detail", "teamcode_red_on_detail", "winner_side", "gameId", "patch_x"]
columns_order.extend([f"pick_{i}" for i in range(10)])
columns_order.extend([f"summonerName_{i}_x" for i in range(10)])
handmade_df_simple = handmade_df_simple[columns_order]

In [89]:
handmade_df_simple.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1638 entries, 181 to 9333
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   startTime(match)         1638 non-null   object
 1   tournamentId             1638 non-null   object
 2   match_vs                 1638 non-null   object
 3   teamcode_blue_on_detail  1638 non-null   object
 4   teamcode_red_on_detail   1638 non-null   object
 5   winner_side              755 non-null    object
 6   gameId                   1638 non-null   object
 7   patch_x                  1638 non-null   object
 8   pick_0                   1638 non-null   object
 9   pick_1                   1638 non-null   object
 10  pick_2                   1638 non-null   object
 11  pick_3                   1638 non-null   object
 12  pick_4                   1638 non-null   object
 13  pick_5                   1638 non-null   object
 14  pick_6                   1638 non-null   object
 15  pick_7                   1638 non-null   object
 16  pick_8                   1638 non-null   object
 17  pick_9                   1638 non-null   object
 18  summonerName_0_x         1638 non-null   object
 19  summonerName_1_x         1638 non-null   object
 20  summonerName_2_x         1638 non-null   object
 21  summonerName_3_x         1638 non-null   object
 22  summonerName_4_x         1638 non-null   object
 23  summonerName_5_x         1638 non-null   object
 24  summonerName_6_x         1638 non-null   object
 25  summonerName_7_x         1638 non-null   object
 26  summonerName_8_x         1638 non-null   object
 27  summonerName_9_x         1638 non-null   object
dtypes: object(28)
memory usage: 371.1+ KB

In [90]:
handmade_df_simple.to_excel("../data/handmade_game_ids_simple.xlsx", index=None)

In [91]:
real_handmade_df_simple = real_handmade_df.loc[:, columns]
real_handmade_df_simple["match_vs"] = real_handmade_df_simple.apply(concat_columns, axis = 1)
real_handmade_df_simple.drop(["blueteam_name", "redteam_name"], axis=1, inplace=True)
real_handmade_df_simple = real_handmade_df_simple[columns_order]
real_handmade_df_simple.to_excel("../data/real_handmade_game_ids_simple.xlsx", index=None)

In [92]:
real_handmade_df_simple.info()

<class 'pandas.core.frame.DataFrame'>
Index: 883 entries, 288 to 9333
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   startTime(match)         883 non-null    object
 1   tournamentId             883 non-null    object
 2   match_vs                 883 non-null    object
 3   teamcode_blue_on_detail  883 non-null    object
 4   teamcode_red_on_detail   883 non-null    object
 5   winner_side              0 non-null      object
 6   gameId                   883 non-null    object
 7   patch_x                  883 non-null    object
 8   pick_0                   883 non-null    object
 9   pick_1                   883 non-null    object
 10  pick_2                   883 non-null    object
 11  pick_3                   883 non-null    object
 12  pick_4                   883 non-null    object
 13  pick_5                   883 non-null    object
 14  pick_6                   883 non-null    object
 15  pick_7                   883 non-null    object
 16  pick_8                   883 non-null    object
 17  pick_9                   883 non-null    object
 18  summonerName_0_x         883 non-null    object
 19  summonerName_1_x         883 non-null    object
 20  summonerName_2_x         883 non-null    object
 21  summonerName_3_x         883 non-null    object
 22  summonerName_4_x         883 non-null    object
 23  summonerName_5_x         883 non-null    object
 24  summonerName_6_x         883 non-null    object
 25  summonerName_7_x         883 non-null    object
 26  summonerName_8_x         883 non-null    object
 27  summonerName_9_x         883 non-null    object
dtypes: object(28)
memory usage: 200.1+ KB