In [2]:
import pandas as pd
import numpy as np
import json
import tqdm

handmade_game_ids_crosschecked.xlsx, game_ids.xlsx, crawling_result_with_codenames.xlsx 있어야 함.

In [3]:
strcolumn_dict = {"tournamentId":"str", "matchId":"str", "gameId":"str", "patch":"str", "teamcode_blue_on_detail":"str", "teamcode_red_on_detail":"str", "blueteam_code":"str", "redteam_code":"str"}
temp1 = [f"esportsPlayerId_{i}" for i in range(10)]
temp2 = ["str" for i in range(10)]
esportsPlayerId_type_dict = dict(zip(temp1, temp2))
strcolumn_dict.update(esportsPlayerId_type_dict)
game_ids_df = pd.read_excel("../data/game_ids.xlsx", dtype = strcolumn_dict)
#game_ids_df = game_ids_df.astype({"tournamentId":"str", "matchId":"str", "gameId":"str",})
game_ids_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8021 entries, 0 to 8020
Data columns (total 51 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               8021 non-null   int64
 1   startTime(match)         8021 non-null   datetime64[ns]
 2   tournamentId             8021 non-null   object
 3   blockName                8021 non-null   object
 4   leagueName               8021 non-null   object
 5   matchId                  8021 non-null   object
 6   bestof                   8021 non-null   int64
 7   blueteam_name            8021 non-null   object
 8   blueteam_code            8021 non-null   object
 9   blueteam_win             8021 non-null   int64
 10  redteam_name             8021 non-null   object
 11  redteam_code             8021 non-null   object
 12  redteam_win              8021 non-null   int64
 13  gameNumberInAMatch       8021 non-null   int64
 14  gameId                   8021 non-null   object
 15  patch                    8021 non-null   object
 16  pick_0                   8021 non-null   object
 17  pick_1                   8021 non-null   object
 18  pick_2                   8021 non-null   object
 19  pick_3                   8021 non-null   object
 20  pick_4                   8021 non-null   object
 21  pick_5                   8021 non-null   object
 22  pick_6                   8021 non-null   object
 23  pick_7                   8021 non-null   object
 24  pick_8                   8021 non-null   object
 25  pick_9                   8021 non-null   object
 26  summonerName_0           8021 non-null   object
 27  summonerName_1           8021 non-null   object
 28  summonerName_2           8021 non-null   object
 29  summonerName_3           8021 non-null   object
 30  summonerName_4           8021 non-null   object
 31  summonerName_5           8021 non-null   object
 32  summonerName_6           8021 non-null   object
 33  summonerName_7           8021 non-null   object
 34  summonerName_8           8021 non-null   object
 35  summonerName_9           8021 non-null   object
 36  teamcode_blue_on_detail  8021 non-null   object
 37  teamcode_red_on_detail   8021 non-null   object
 38  esportsPlayerId_0        7958 non-null   object
 39  esportsPlayerId_1        7959 non-null   object
 40  esportsPlayerId_2        7960 non-null   object
 41  esportsPlayerId_3        7949 non-null   object
 42  esportsPlayerId_4        7968 non-null   object
 43  esportsPlayerId_5        7962 non-null   object
 44  esportsPlayerId_6        7963 non-null   object
 45  esportsPlayerId_7        7962 non-null   object
 46  esportsPlayerId_8        7949 non-null   object
 47  esportsPlayerId_9        7968 non-null   object
 48  winner_side              8021 non-null   object
 49  esportsTeamId_Blue       8021 non-null   int64
 50  esportsTeamId_Red        8021 non-null   int64
dtypes: datetime64[ns](1), int64(7), object(43)
memory usage: 3.1+ MB

In [4]:
game_ids_df.head()

,Unnamed: 0,startTime(match),tournamentId,blockName,leagueName,matchId,bestof,blueteam_name,blueteam_code,blueteam_win,...,esportsPlayerId_3,esportsPlayerId_4,esportsPlayerId_5,esportsPlayerId_6,esportsPlayerId_7,esportsPlayerId_8,esportsPlayerId_9,winner_side,esportsTeamId_Blue,esportsTeamId_Red
0,0,2024-05-01 08:00:00,112099354464733424,Play-Ins,MSI,112274687401036074,3,FlyQuest,FLY,2,...,108369186353082038,106625308523122120,104573202011010010,101971954398227333,98767991764579452,98767975924333750,99566406444168246,Red,98926509892121852,104367068120825486
1,1,2024-05-01 08:00:00,112099354464733424,Play-Ins,MSI,112274687401036074,3,FlyQuest,FLY,2,...,108369186353082038,106625308523122120,104573202011010010,101971954398227333,98767991764579452,98767975924333750,99566406444168246,Blue,98926509892121852,104367068120825486
2,2,2024-05-01 08:00:00,112099354464733424,Play-Ins,MSI,112274687401036074,3,FlyQuest,FLY,2,...,98767975924333750,99566406444168246,99322214662601038,101389713966873995,98767991798919851,108369186353082038,106625308523122120,Red,104367068120825486,98926509892121852
3,3,2024-05-01 11:00:00,112099354464733424,Play-Ins,MSI,112274687401036078,3,T1,T1,2,...,103495716775975785,103495716561790834,105516185566739968,99566408350815597,102825747663199158,106276221575238438,105506922297942200,Blue,98767991853197861,104841890701948065
4,4,2024-05-01 11:00:00,112099354464733424,Play-Ins,MSI,112274687401036078,3,T1,T1,2,...,106276221575238438,105506922297942200,105320680474347057,105320682452092471,98767991747728851,103495716775975785,103495716561790834,Red,104841890701948065,98767991853197861

In [5]:
game_ids_with_picks_df = game_ids_df[pd.isna(game_ids_df["pick_0"]) == False].reset_index(drop=True)
game_ids_with_picks_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8021 entries, 0 to 8020
Data columns (total 51 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               8021 non-null   int64
 1   startTime(match)         8021 non-null   datetime64[ns]
 2   tournamentId             8021 non-null   object
 3   blockName                8021 non-null   object
 4   leagueName               8021 non-null   object
 5   matchId                  8021 non-null   object
 6   bestof                   8021 non-null   int64
 7   blueteam_name            8021 non-null   object
 8   blueteam_code            8021 non-null   object
 9   blueteam_win             8021 non-null   int64
 10  redteam_name             8021 non-null   object
 11  redteam_code             8021 non-null   object
 12  redteam_win              8021 non-null   int64
 13  gameNumberInAMatch       8021 non-null   int64
 14  gameId                   8021 non-null   object
 15  patch                    8021 non-null   object
 16  pick_0                   8021 non-null   object
 17  pick_1                   8021 non-null   object
 18  pick_2                   8021 non-null   object
 19  pick_3                   8021 non-null   object
 20  pick_4                   8021 non-null   object
 21  pick_5                   8021 non-null   object
 22  pick_6                   8021 non-null   object
 23  pick_7                   8021 non-null   object
 24  pick_8                   8021 non-null   object
 25  pick_9                   8021 non-null   object
 26  summonerName_0           8021 non-null   object
 27  summonerName_1           8021 non-null   object
 28  summonerName_2           8021 non-null   object
 29  summonerName_3           8021 non-null   object
 30  summonerName_4           8021 non-null   object
 31  summonerName_5           8021 non-null   object
 32  summonerName_6           8021 non-null   object
 33  summonerName_7           8021 non-null   object
 34  summonerName_8           8021 non-null   object
 35  summonerName_9           8021 non-null   object
 36  teamcode_blue_on_detail  8021 non-null   object
 37  teamcode_red_on_detail   8021 non-null   object
 38  esportsPlayerId_0        7958 non-null   object
 39  esportsPlayerId_1        7959 non-null   object
 40  esportsPlayerId_2        7960 non-null   object
 41  esportsPlayerId_3        7949 non-null   object
 42  esportsPlayerId_4        7968 non-null   object
 43  esportsPlayerId_5        7962 non-null   object
 44  esportsPlayerId_6        7963 non-null   object
 45  esportsPlayerId_7        7962 non-null   object
 46  esportsPlayerId_8        7949 non-null   object
 47  esportsPlayerId_9        7968 non-null   object
 48  winner_side              8021 non-null   object
 49  esportsTeamId_Blue       8021 non-null   int64
 50  esportsTeamId_Red        8021 non-null   int64
dtypes: datetime64[ns](1), int64(7), object(43)
memory usage: 3.1+ MB

In [6]:
game_ids_with_picks_df.tail()

,Unnamed: 0,startTime(match),tournamentId,blockName,leagueName,matchId,bestof,blueteam_name,blueteam_code,blueteam_win,...,esportsPlayerId_3,esportsPlayerId_4,esportsPlayerId_5,esportsPlayerId_6,esportsPlayerId_7,esportsPlayerId_8,esportsPlayerId_9,winner_side,esportsTeamId_Blue,esportsTeamId_Red
8016,8018,2023-04-22 10:00:00,109749565997987636,Knockouts,VCS,109749565998970929,5,CERBERUS ESPORTS,CES,0,...,105301884027266192,98767975954252935,107251636998679351,107255592262151792,107251642747641853,107251647709372417,102849319864045953,Blue,107251231972989211,107251374793416561
8017,8019,2023-04-23 10:00:00,109749565997987636,Finals,VCS,109749565999036471,5,SBTC ESPORTS,SE,1,...,105301884027266192,98767975954252935,107330029738468255,98767975918707483,107251572267658009,107251575502514974,102849319860638077,Red,107251231972989211,98767991954244555
8018,8020,2023-04-23 10:00:00,109749565997987636,Finals,VCS,109749565999036471,5,SBTC ESPORTS,SE,1,...,107251575502514974,102849319860638077,107251383938441076,102848965907008705,102300322396525713,105301884027266192,98767975954252935,Blue,98767991954244555,107251231972989211
8019,8021,2023-04-23 10:00:00,109749565997987636,Finals,VCS,109749565999036471,5,SBTC ESPORTS,SE,1,...,107251575502514974,102849319860638077,107251383938441076,102848965907008705,102300322396525713,105301884027266192,98767975954252935,Red,98767991954244555,107251231972989211
8020,8022,2023-04-23 10:00:00,109749565997987636,Finals,VCS,109749565999036471,5,SBTC ESPORTS,SE,1,...,107251575502514974,102849319860638077,107251383938441076,102848965907008705,102300322396525713,105301884027266192,98767975954252935,Blue,98767991954244555,107251231972989211

In [7]:
game_ids_with_picks_df["winner_side"].unique()

array(['Red', 'Blue'], dtype=object)

In [8]:
teamcode_not_match_in_danpan_df = game_ids_with_picks_df[game_ids_with_picks_df["bestof"] == 1 & (game_ids_with_picks_df["blueteam_code"] != game_ids_with_picks_df["teamcode_blue_on_detail"]) |\
    (game_ids_with_picks_df["redteam_code"] != game_ids_with_picks_df["teamcode_red_on_detail"])]

사이드가 서로 다르게 매칭되는 버그가 있다. 버그라기보단 api completedEvents에서 개별 블루팀과 레드팀을 구분하지 않고 보내기 때문에 발생하는 문제. 목록을 만들어 수작업으로 보정하지 않으면 큰일난다.

In [25]:
desired_column_of_teamcode_not_match_in_danpan_df = teamcode_not_match_in_danpan_df[["tournamentId", "gameId", "blueteam_code", "redteam_code", "teamcode_blue_on_detail", "teamcode_red_on_detail", "winner_side"]]
both_teamcode_not_match_in_danpan_df = desired_column_of_teamcode_not_match_in_danpan_df[(desired_column_of_teamcode_not_match_in_danpan_df["blueteam_code"] != desired_column_of_teamcode_not_match_in_danpan_df["teamcode_blue_on_detail"]) & (desired_column_of_teamcode_not_match_in_danpan_df["redteam_code"] != desired_column_of_teamcode_not_match_in_danpan_df["teamcode_red_on_detail"])]
side_changed_in_danpan_df = both_teamcode_not_match_in_danpan_df[(both_teamcode_not_match_in_danpan_df["blueteam_code"] == both_teamcode_not_match_in_danpan_df["teamcode_red_on_detail"])|\
                                                                 (both_teamcode_not_match_in_danpan_df["redteam_code"] == both_teamcode_not_match_in_danpan_df["teamcode_blue_on_detail"])]
both_teamcode_not_match_in_danpan_df.to_excel("../data/teamcode_not_match_bug.xlsx")
side_changed_in_danpan_df.to_excel("../data/side_changed_bug.xlsx")

In [9]:
def danpan_winnerside(row):
    if row["bestof"] == 1:
        return "Blue" if row["blueteam_win"] == 1 else "Red"
    else:
        return np.nan
game_ids_with_picks_df["winner_side"] = game_ids_with_picks_df.apply(danpan_winnerside, axis=1)
game_ids_with_picks_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8021 entries, 0 to 8020
Data columns (total 51 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               8021 non-null   int64
 1   startTime(match)         8021 non-null   datetime64[ns]
 2   tournamentId             8021 non-null   object
 3   blockName                8021 non-null   object
 4   leagueName               8021 non-null   object
 5   matchId                  8021 non-null   object
 6   bestof                   8021 non-null   int64
 7   blueteam_name            8021 non-null   object
 8   blueteam_code            8021 non-null   object
 9   blueteam_win             8021 non-null   int64
 10  redteam_name             8021 non-null   object
 11  redteam_code             8021 non-null   object
 12  redteam_win              8021 non-null   int64
 13  gameNumberInAMatch       8021 non-null   int64
 14  gameId                   8021 non-null   object
 15  patch                    8021 non-null   object
 16  pick_0                   8021 non-null   object
 17  pick_1                   8021 non-null   object
 18  pick_2                   8021 non-null   object
 19  pick_3                   8021 non-null   object
 20  pick_4                   8021 non-null   object
 21  pick_5                   8021 non-null   object
 22  pick_6                   8021 non-null   object
 23  pick_7                   8021 non-null   object
 24  pick_8                   8021 non-null   object
 25  pick_9                   8021 non-null   object
 26  summonerName_0           8021 non-null   object
 27  summonerName_1           8021 non-null   object
 28  summonerName_2           8021 non-null   object
 29  summonerName_3           8021 non-null   object
 30  summonerName_4           8021 non-null   object
 31  summonerName_5           8021 non-null   object
 32  summonerName_6           8021 non-null   object
 33  summonerName_7           8021 non-null   object
 34  summonerName_8           8021 non-null   object
 35  summonerName_9           8021 non-null   object
 36  teamcode_blue_on_detail  8021 non-null   object
 37  teamcode_red_on_detail   8021 non-null   object
 38  esportsPlayerId_0        7958 non-null   object
 39  esportsPlayerId_1        7959 non-null   object
 40  esportsPlayerId_2        7960 non-null   object
 41  esportsPlayerId_3        7949 non-null   object
 42  esportsPlayerId_4        7968 non-null   object
 43  esportsPlayerId_5        7962 non-null   object
 44  esportsPlayerId_6        7963 non-null   object
 45  esportsPlayerId_7        7962 non-null   object
 46  esportsPlayerId_8        7949 non-null   object
 47  esportsPlayerId_9        7968 non-null   object
 48  winner_side              3524 non-null   object
 49  esportsTeamId_Blue       8021 non-null   int64
 50  esportsTeamId_Red        8021 non-null   int64
dtypes: datetime64[ns](1), int64(7), object(43)
memory usage: 3.1+ MB

In [10]:
game_ids_with_picks_df.loc[game_ids_with_picks_df["bestof"] == 1].head()

,Unnamed: 0,startTime(match),tournamentId,blockName,leagueName,matchId,bestof,blueteam_name,blueteam_code,blueteam_win,...,esportsPlayerId_3,esportsPlayerId_4,esportsPlayerId_5,esportsPlayerId_6,esportsPlayerId_7,esportsPlayerId_8,esportsPlayerId_9,winner_side,esportsTeamId_Blue,esportsTeamId_Red
153,153,2022-05-10 08:00:00,107905284983470149,Round 1,MSI,108176841597230180,1,T1,T1,1,...,103495716775975785,103495716561790834,107251528271309568,107251529370048921,107251531720338181,107251561724960718,107251533987191201,Blue,98767991853197861,107251245690956393
154,154,2022-05-10 09:00:00,107905284983470149,Round 1,MSI,108176841597230190,1,Team Aze,AZE,0,...,105320665816491252,99566405793083799,98767975944639514,100754278890207800,99566404536983507,100285330144336367,104016425624023728,Red,106806773698472633,100285330168091787
155,155,2022-05-10 10:00:00,107905284983470149,Round 1,MSI,108176841597295766,1,ORDER,ORD,0,...,103524841906404187,101383792848062619,99566406047571736,99124844325223302,98767975968177297,103461966879623046,99322214657019865,Red,99566406338282437,98767991926151025
156,156,2022-05-10 11:00:00,107905284983470149,Round 1,MSI,108176841597295764,1,Evil Geniuses LG,EG,0,...,105913361921383562,99101098208825497,99566406047571736,99124844325223302,98767975968177297,103461966879623046,99322214657019865,Red,103461966951059521,98767991926151025
157,157,2022-05-10 13:00:00,107905284983470149,Round 1,MSI,108176841597295748,1,RED Kalunga,RED,1,...,99566407783597200,99566408211536727,99566406483827119,105320699390649600,105320700529018429,98767975916831837,98767975956663486,Blue,99566408221961358,104367068120825486

In [13]:
#아니다 이건 수작업으로 하자..
#handmade_side_reversed_in_danpan_df = pd.read_excel("../data/handmade_side_reversed.xlsx", dtype = {"tournamtId":"str", "gameId":"str"})[["gameId", "corrected"]]
#handmade_side_reversed_in_danpan_df.head()
#side_reversed_df = pd.merge(game_ids_with_picks_df, handmade_side_reversed_in_danpan_df, on = "gameId")

['109517090067719731',
 '109517090067719799',
 '109517090067719743',
 '109517090067719781',
 '109517090067719757',
 '109517090067719777',
 '109517090067719815',
 '109517090067719747',
 '109517090067719755',
 '109517090067719787',
 '108206581965105266',
 '108206581965105248',
 '108206581965105268',
 '108206581965039656',
 '108206581965105272',
 '108206581965039680',
 '108206581965105264',
 '108206581965039696',
 '109518697662188400',
 '109518697662122722',
 '109518697662253996',
 '109518697662188346',
 '109518697662122764',
 '109518697661991482',
 '109518697662057166',
 '109518697662254014',
 '109518697662122720',
 '109518697662188412',
 '109518697662188374',
 '109518697662253972',
 '109518697661991510',
 '109518697662057174',
 '109518697662254022',
 '109518697661991480',
 '109518697662057118',
 '109518697662057150',
 '109518697662319620',
 '109518697662122784',
 '108197674527204334',
 '108197674527204310',
 '108197674527204344',
 '106273204410345265',
 '106273204410279687',
 '106273204410279697',
 '106273204410279683',
 '106273204410345247',
 '106273204410345253',
 '106273204410345285',
 '106273204410410843',
 '106273204410410859',
 '106273204410410847',
 '106273204410345291',
 '106273204410345275',
 '106273204410410853',
 '106273204410410845',
 '106273204410345277',
 '106273204410345287',
 '106273204410410861',
 '106273204410410851',
 '106273204410345297',
 '106353129313331482',
 '106353129313331498',
 '106353129313331474',
 '106353129313331464',
 '106353129313331484',
 '106353129313265916',
 '106353129313331500',
 '108231751507821947',
 '106269757537700313',
 '106269757537765931',
 '106269757537700291',
 '106269757537765937',
 '106269757537700327',
 '106675488479994206',
 '106269744789328061',
 '106269744789393605',
 '106269744789393611',
 '106269744789328027',
 '106269744789328035',
 '106269744789328043',
 '106269744789393615',
 '106269744789393669',
 '109704924272795936',
 '109704924272795956',
 '109704924272730362',
 '109704924272795946',
 '109704924272730376',
 '106715618413216077',
 '109467188126666558',
 '109467188126732130',
 '109467188126732112',
 '109467188126732140',
 '109467188126732160',
 '109467188126666556',
 '109467188126732128',
 '109467188126666554',
 '108197589216240550',
 '108197589216174936',
 '108197589216240544',
 '108197589216174956',
 '108197589216174934',
 '107566458490449238',
 '107566458490449248',
 '107989632601677382',
 '106269459011651826',
 '106269459011717428',
 '106269459011717402',
 '106269459011783034',
 '106269459011783036',
 '106269459011717416',
 '106269459011782996',
 '106269459011783014',
 '106269459011783022',
 '106269459011717406',
 '106269459011782998',
 '106269459011783008',
 '106269459011848584',
 '106269459011717384',
 '106269459011783030',
 '106269459011783020']

In [261]:
game_ids_with_picks_df.to_excel("../data/game_ids_with_winside_danpan.xlsx")

Exception ignored in: <function ZipFile.__del__ at 0x000001F3EA474EA0>
Traceback (most recent call last):
  File "g:\Program\Anaconda3\envs\newdeal\Lib\zipfile\__init__.py", line 1940, in __del__
    self.close()
  File "g:\Program\Anaconda3\envs\newdeal\Lib\zipfile\__init__.py", line 1957, in close
    self.fp.seek(self.start_dir)
ValueError: seek of closed file

In [262]:
game_ids_without_danpan_df = game_ids_with_picks_df[pd.isna(game_ids_with_picks_df["winner_side"]) == True].copy()
game_ids_without_danpan_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4498 entries, 0 to 8022
Data columns (total 48 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   startTime(match)         4498 non-null   object
 1   tournamentId             4498 non-null   object
 2   blockName                4498 non-null   object
 3   leagueName               4498 non-null   object
 4   matchId                  4498 non-null   object
 5   bestof                   4498 non-null   int64
 6   blueteam_name            4498 non-null   object
 7   blueteam_code            4498 non-null   object
 8   blueteam_win             4498 non-null   int64
 9   redteam_name             4498 non-null   object
 10  redteam_code             4498 non-null   object
 11  redteam_win              4498 non-null   int64
 12  gameNumberInAMatch       4498 non-null   int64
 13  gameId                   4498 non-null   object
 14  patch                    4498 non-null   object
 15  pick_0                   4498 non-null   object
 16  pick_1                   4498 non-null   object
 17  pick_2                   4498 non-null   object
 18  pick_3                   4498 non-null   object
 19  pick_4                   4498 non-null   object
 20  pick_5                   4498 non-null   object
 21  pick_6                   4498 non-null   object
 22  pick_7                   4498 non-null   object
 23  pick_8                   4498 non-null   object
 24  pick_9                   4498 non-null   object
 25  summonerName_0           4498 non-null   object
 26  summonerName_1           4498 non-null   object
 27  summonerName_2           4498 non-null   object
 28  summonerName_3           4498 non-null   object
 29  summonerName_4           4498 non-null   object
 30  summonerName_5           4498 non-null   object
 31  summonerName_6           4498 non-null   object
 32  summonerName_7           4498 non-null   object
 33  summonerName_8           4498 non-null   object
 34  summonerName_9           4498 non-null   object
 35  teamcode_blue_on_detail  4498 non-null   object
 36  teamcode_red_on_detail   4498 non-null   object
 37  esportsPlayerId_0        4478 non-null   object
 38  esportsPlayerId_1        4481 non-null   object
 39  esportsPlayerId_2        4478 non-null   object
 40  esportsPlayerId_3        4472 non-null   object
 41  esportsPlayerId_4        4481 non-null   object
 42  esportsPlayerId_5        4481 non-null   object
 43  esportsPlayerId_6        4485 non-null   object
 44  esportsPlayerId_7        4481 non-null   object
 45  esportsPlayerId_8        4473 non-null   object
 46  esportsPlayerId_9        4485 non-null   object
 47  winner_side              0 non-null      object
dtypes: int64(4), object(44)
memory usage: 1.7+ MB

In [263]:
crawled_df = pd.read_excel("../data/crawling_result_with_codenames.xlsx")
crawled_df = crawled_df.astype({"tournament_id":"str", "patch":"str"})
crawled_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20179 entries, 0 to 20178
Data columns (total 41 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              20179 non-null  object
 1   tournament_title  20179 non-null  object
 2   patch             20179 non-null  object
 3   blueteam          20179 non-null  object
 4   redteam           20179 non-null  object
 5   winner_side       20179 non-null  object
 6   ban_0             20135 non-null  object
 7   ban_1             20152 non-null  object
 8   ban_2             20147 non-null  object
 9   ban_3             16973 non-null  object
 10  ban_4             16887 non-null  object
 11  ban_5             20127 non-null  object
 12  ban_6             20151 non-null  object
 13  ban_7             20143 non-null  object
 14  ban_8             16978 non-null  object
 15  ban_9             16875 non-null  object
 16  pick_0            20179 non-null  object
 17  pick_1            20179 non-null  object
 18  pick_2            20179 non-null  object
 19  pick_3            20179 non-null  object
 20  pick_4            20179 non-null  object
 21  pick_5            20179 non-null  object
 22  pick_6            20179 non-null  object
 23  pick_7            20179 non-null  object
 24  pick_8            20179 non-null  object
 25  pick_9            20179 non-null  object
 26  summonerName_0    20179 non-null  object
 27  summonerName_1    20179 non-null  object
 28  summonerName_2    20179 non-null  object
 29  summonerName_3    20179 non-null  object
 30  summonerName_4    20178 non-null  object
 31  summonerName_5    20179 non-null  object
 32  summonerName_6    20179 non-null  object
 33  summonerName_7    20179 non-null  object
 34  summonerName_8    20179 non-null  object
 35  summonerName_9    20179 non-null  object
 36  tournament_name   20179 non-null  object
 37  tournament_id     20179 non-null  object
 38  tournament_slug   20179 non-null  object
 39  blueteam_code     20179 non-null  object
 40  redteam_code      20179 non-null  object
dtypes: object(41)
memory usage: 6.3+ MB

In [264]:
crawled_df_test = crawled_df[crawled_df["ban_0"].isna()]
crawled_df_test.head()

,date,tournament_title,patch,blueteam,redteam,winner_side,ban_0,ban_1,ban_2,ban_3,...,summonerName_5,summonerName_6,summonerName_7,summonerName_8,summonerName_9,tournament_name,tournament_id,tournament_slug,blueteam_code,redteam_code
2345,2016-01-30,\n\t\t\t\t\tNA LCS 2016 Spring,6.1,Team Impulse,Dignitas,Blue,NaN,NaN,Elise,NaN,...,BillyBoss,Kirei,Shiphtur,Apollo,KiWiKiD,NA LCS 2016 Spring,106972812538132507,na_lcs_spring_2016,TIP,DIG
2428,2015-07-04,\n\t\t\t\t\tNA LCS 2015 Summer,5.12,Cloud9,Team Liquid,Red,NaN,NaN,Sivir,NaN,...,Quas,IWDominate,FeniX,Piglet,Xpecial,NA LCS 2015 Summer,107741488941545959,na_lcs_summer_2015,C9,TL
2449,2015-06-20,\n\t\t\t\t\tNA LCS 2015 Summer,5.11,Team Dragon Knights,Counter Logic Gaming,Red,NaN,NaN,NaN,NaN,...,ZionSpartan,Xmithie,Pobelter,Doublelift,Aphromoo,NA LCS 2015 Summer,107741488941545959,na_lcs_summer_2015,TDK,CLG
2471,2015-05-31,\n\t\t\t\t\tNA LCS 2015 Summer,5.9,Team Dragon Knights,Gravity (North American Team),Red,NaN,NaN,NaN,NaN,...,Hauntzer,Move,Keane,Altec,Bunny FuFuu,NA LCS 2015 Summer,107741488941545959,na_lcs_summer_2015,TDK,GRV
2479,2015-05-30,\n\t\t\t\t\tNA LCS 2015 Summer,5.9,Team Dragon Knights,Team Liquid,Red,NaN,NaN,NaN,NaN,...,Quas,IWDominate,FeniX,Piglet,Xpecial,NA LCS 2015 Summer,107741488941545959,na_lcs_summer_2015,TDK,TL

In [265]:
pick_column_list = [f"pick_{x}" for x in range(10)]
left_on = ["tournamentId", "teamcode_blue_on_detail", "teamcode_red_on_detail"]
right_on = ["tournament_id", "blueteam_code", "redteam_code"]
left_on.extend(pick_column_list)
right_on.extend(pick_column_list)
game_ids_with_picks_df = game_ids_df.astype({"patch":"str"})
print(left_on)
print(right_on)

['tournamentId', 'teamcode_blue_on_detail', 'teamcode_red_on_detail', 'pick_0', 'pick_1', 'pick_2', 'pick_3', 'pick_4', 'pick_5', 'pick_6', 'pick_7', 'pick_8', 'pick_9']
['tournament_id', 'blueteam_code', 'redteam_code', 'pick_0', 'pick_1', 'pick_2', 'pick_3', 'pick_4', 'pick_5', 'pick_6', 'pick_7', 'pick_8', 'pick_9']

In [266]:
game_ids_without_danpan_df[left_on].head()

,tournamentId,teamcode_blue_on_detail,teamcode_red_on_detail,pick_0,pick_1,pick_2,pick_3,pick_4,pick_5,pick_6,pick_7,pick_8,pick_9
0,112099354464733424,FLY,PSG,Urgot,Sejuani,Taliyah,Jinx,Nautilus,Rumble,JarvanIV,Azir,Senna,TahmKench
1,112099354464733424,FLY,PSG,Urgot,Maokai,Taliyah,Lucian,Nami,KSante,Sejuani,Azir,Kalista,Ashe
2,112099354464733424,PSG,FLY,KSante,XinZhao,Karma,Kalista,Rell,Olaf,Sejuani,Orianna,Varus,Nautilus
3,112099354464733424,T1,EST,KSante,LeeSin,Orianna,Kalista,Neeko,Yone,Volibear,Ahri,Draven,Rell
4,112099354464733424,EST,T1,Aatrox,LeeSin,Ahri,Draven,Ashe,KSante,Viego,Orianna,Kalista,Rumble

In [267]:
crawled_df[right_on].head()

,tournament_id,blueteam_code,redteam_code,pick_0,pick_1,pick_2,pick_3,pick_4,pick_5,pick_6,pick_7,pick_8,pick_9
0,112099354464733424,GEN,BLG,Rumble,Lee Sin,Azir,Senna,Maokai,Camille,Nidalee,Tristana,Zeri,Nautilus
1,112099354464733424,BLG,GEN,Jax,Nidalee,Jayce,Senna,Tahm Kench,Rumble,Lee Sin,Hwei,Kalista,Ashe
2,112099354464733424,BLG,GEN,Camille,Xin Zhao,Orianna,Varus,Ashe,Zac,Sejuani,Yone,Kalista,Blitzcrank
3,112099354464733424,GEN,BLG,K'Sante,Karthus,Yone,Senna,Tahm Kench,Twisted Fate,Xin Zhao,Neeko,Lucian,Nami
4,112099354464733424,BLG,T1,Camille,Xin Zhao,Neeko,Senna,Ornn,K'Sante,Viego,Taliyah,Varus,Nautilus

In [268]:
with open('../data/pick_name_not_the_same.json', 'r') as f:
    pick_difference_map = json.load(f)
crawled_df[pick_column_list] = crawled_df[pick_column_list].replace(pick_difference_map)

In [269]:
picks_of_game_ids_set = set(np.concatenate(game_ids_with_picks_df.loc[:,pick_column_list].values.tolist()).tolist())
picks_of_crawled_set = set(np.concatenate(crawled_df.loc[:,pick_column_list].values.tolist()).tolist())
difference_of_game_ids = picks_of_game_ids_set.difference(picks_of_crawled_set)
difference_of_crawled = picks_of_crawled_set.difference(picks_of_game_ids_set)

In [270]:
print(difference_of_game_ids)
print(len(difference_of_game_ids))
print(difference_of_crawled)
print(len(difference_of_crawled))

{'nan'}
1
{'Master Yi'}
1

In [271]:
game_ids_without_danpan_df.tail()

,startTime(match),tournamentId,blockName,leagueName,matchId,bestof,blueteam_name,blueteam_code,blueteam_win,redteam_name,...,esportsPlayerId_1,esportsPlayerId_2,esportsPlayerId_3,esportsPlayerId_4,esportsPlayerId_5,esportsPlayerId_6,esportsPlayerId_7,esportsPlayerId_8,esportsPlayerId_9,winner_side
8018,2023-04-22T10:00:00Z,109749565997987636,Knockouts,VCS,109749565998970929,5,CERBERUS ESPORTS,CES,0,SBTC ESPORTS,...,102848965907008705,102300322396525713,105301884027266192,98767975954252935,107251636998679351,107255592262151792,107251642747641853,107251647709372417,102849319864045953,NaN
8019,2023-04-23T10:00:00Z,109749565997987636,Finals,VCS,109749565999036471,5,SBTC ESPORTS,SE,1,GAM Esports,...,102848965907008705,102300322396525713,105301884027266192,98767975954252935,107330029738468255,98767975918707483,107251572267658009,107251575502514974,102849319860638077,NaN
8020,2023-04-23T10:00:00Z,109749565997987636,Finals,VCS,109749565999036471,5,SBTC ESPORTS,SE,1,GAM Esports,...,98767975918707483,107251572267658009,107251575502514974,102849319860638077,107251383938441076,102848965907008705,102300322396525713,105301884027266192,98767975954252935,NaN
8021,2023-04-23T10:00:00Z,109749565997987636,Finals,VCS,109749565999036471,5,SBTC ESPORTS,SE,1,GAM Esports,...,98767975918707483,107251572267658009,107251575502514974,102849319860638077,107251383938441076,102848965907008705,102300322396525713,105301884027266192,98767975954252935,NaN
8022,2023-04-23T10:00:00Z,109749565997987636,Finals,VCS,109749565999036471,5,SBTC ESPORTS,SE,1,GAM Esports,...,98767975918707483,107251572267658009,107251575502514974,102849319860638077,107251383938441076,102848965907008705,102300322396525713,105301884027266192,98767975954252935,NaN

In [272]:
game_ids_without_danpan_df.drop("winner_side", axis=1, inplace = True)
game_ids_without_danpan_df.index.name = "index"
game_ids_without_danpan_df_reset = game_ids_without_danpan_df.reset_index()
result_df = pd.merge(game_ids_without_danpan_df_reset, crawled_df, how = "left", left_on = left_on, right_on = right_on).drop_duplicates("gameId")
result_df.set_index("index")

,startTime(match),tournamentId,blockName,leagueName,matchId,bestof,blueteam_name,blueteam_code_x,blueteam_win,redteam_name,...,summonerName_5_y,summonerName_6_y,summonerName_7_y,summonerName_8_y,summonerName_9_y,tournament_name,tournament_id,tournament_slug,blueteam_code_y,redteam_code_y
index,,,,,,,,,,,,,,,,,,,,,
0,2024-05-01T08:00:00Z,112099354464733424,Play-Ins,MSI,112274687401036074,3,FlyQuest,FLY,2,PSG Talon,...,Azhi,JunJia,Maple,Betty,Woody,2024 Mid-Season Invitational,112099354464733424,msi_2024,FLY,PSG
1,2024-05-01T08:00:00Z,112099354464733424,Play-Ins,MSI,112274687401036074,3,FlyQuest,FLY,2,PSG Talon,...,Azhi,JunJia,Maple,Betty,Woody,2024 Mid-Season Invitational,112099354464733424,msi_2024,FLY,PSG
2,2024-05-01T08:00:00Z,112099354464733424,Play-Ins,MSI,112274687401036074,3,FlyQuest,FLY,2,PSG Talon,...,Bwipo,Inspired,Jensen,Massu,Busio,2024 Mid-Season Invitational,112099354464733424,msi_2024,PSG,FLY
3,2024-05-01T11:00:00Z,112099354464733424,Play-Ins,MSI,112274687401036078,3,T1,T1,2,Estral Esports,...,Zothve,Josedeodo,Cody,Snaker,Ackerman,2024 Mid-Season Invitational,112099354464733424,msi_2024,T1,EST
4,2024-05-01T11:00:00Z,112099354464733424,Play-Ins,MSI,112274687401036078,3,T1,T1,2,Estral Esports,...,Zeus,Oner,Faker,Gumayusi,Keria,2024 Mid-Season Invitational,112099354464733424,msi_2024,EST,T1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8018,2023-04-22T10:00:00Z,109749565997987636,Knockouts,VCS,109749565998970929,5,CERBERUS ESPORTS,CES,0,SBTC ESPORTS,...,Pun,Draktharr,Yado,Artemis,Hieu3,VCS/2023 Season/Spring Season,109749565997987636,vcs_spring_2023,SE,CES
8019,2023-04-23T10:00:00Z,109749565997987636,Finals,VCS,109749565999036471,5,SBTC ESPORTS,SE,1,GAM Esports,...,Kiaya,Levi,Kati,Sty1e,Zin,VCS/2023 Season/Spring Season,109749565997987636,vcs_spring_2023,SE,GAM
8020,2023-04-23T10:00:00Z,109749565997987636,Finals,VCS,109749565999036471,5,SBTC ESPORTS,SE,1,GAM Esports,...,Nper,DNK,Dia1,Slayder,Palette,VCS/2023 Season/Spring Season,109749565997987636,vcs_spring_2023,GAM,SE
8021,2023-04-23T10:00:00Z,109749565997987636,Finals,VCS,109749565999036471,5,SBTC ESPORTS,SE,1,GAM Esports,...,Nper,DNK,Dia1,Slayder,Palette,VCS/2023 Season/Spring Season,109749565997987636,vcs_spring_2023,GAM,SE
8022,2023-04-23T10:00:00Z,109749565997987636,Finals,VCS,109749565999036471,5,SBTC ESPORTS,SE,1,GAM Esports,...,Nper,DNK,Dia1,Slayder,Palette,VCS/2023 Season/Spring Season,109749565997987636,vcs_spring_2023,GAM,SE

In [273]:
result_df.tail()

,index,startTime(match),tournamentId,blockName,leagueName,matchId,bestof,blueteam_name,blueteam_code_x,blueteam_win,...,summonerName_5_y,summonerName_6_y,summonerName_7_y,summonerName_8_y,summonerName_9_y,tournament_name,tournament_id,tournament_slug,blueteam_code_y,redteam_code_y
4589,8018,2023-04-22T10:00:00Z,109749565997987636,Knockouts,VCS,109749565998970929,5,CERBERUS ESPORTS,CES,0,...,Pun,Draktharr,Yado,Artemis,Hieu3,VCS/2023 Season/Spring Season,109749565997987636,vcs_spring_2023,SE,CES
4590,8019,2023-04-23T10:00:00Z,109749565997987636,Finals,VCS,109749565999036471,5,SBTC ESPORTS,SE,1,...,Kiaya,Levi,Kati,Sty1e,Zin,VCS/2023 Season/Spring Season,109749565997987636,vcs_spring_2023,SE,GAM
4591,8020,2023-04-23T10:00:00Z,109749565997987636,Finals,VCS,109749565999036471,5,SBTC ESPORTS,SE,1,...,Nper,DNK,Dia1,Slayder,Palette,VCS/2023 Season/Spring Season,109749565997987636,vcs_spring_2023,GAM,SE
4592,8021,2023-04-23T10:00:00Z,109749565997987636,Finals,VCS,109749565999036471,5,SBTC ESPORTS,SE,1,...,Nper,DNK,Dia1,Slayder,Palette,VCS/2023 Season/Spring Season,109749565997987636,vcs_spring_2023,GAM,SE
4593,8022,2023-04-23T10:00:00Z,109749565997987636,Finals,VCS,109749565999036471,5,SBTC ESPORTS,SE,1,...,Nper,DNK,Dia1,Slayder,Palette,VCS/2023 Season/Spring Season,109749565997987636,vcs_spring_2023,GAM,SE

In [274]:
result_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4498 entries, 0 to 4593
Data columns (total 79 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   index                    4498 non-null   int64
 1   startTime(match)         4498 non-null   object
 2   tournamentId             4498 non-null   object
 3   blockName                4498 non-null   object
 4   leagueName               4498 non-null   object
 5   matchId                  4498 non-null   object
 6   bestof                   4498 non-null   int64
 7   blueteam_name            4498 non-null   object
 8   blueteam_code_x          4498 non-null   object
 9   blueteam_win             4498 non-null   int64
 10  redteam_name             4498 non-null   object
 11  redteam_code_x           4498 non-null   object
 12  redteam_win              4498 non-null   int64
 13  gameNumberInAMatch       4498 non-null   int64
 14  gameId                   4498 non-null   object
 15  patch_x                  4498 non-null   object
 16  pick_0                   4498 non-null   object
 17  pick_1                   4498 non-null   object
 18  pick_2                   4498 non-null   object
 19  pick_3                   4498 non-null   object
 20  pick_4                   4498 non-null   object
 21  pick_5                   4498 non-null   object
 22  pick_6                   4498 non-null   object
 23  pick_7                   4498 non-null   object
 24  pick_8                   4498 non-null   object
 25  pick_9                   4498 non-null   object
 26  summonerName_0_x         4498 non-null   object
 27  summonerName_1_x         4498 non-null   object
 28  summonerName_2_x         4498 non-null   object
 29  summonerName_3_x         4498 non-null   object
 30  summonerName_4_x         4498 non-null   object
 31  summonerName_5_x         4498 non-null   object
 32  summonerName_6_x         4498 non-null   object
 33  summonerName_7_x         4498 non-null   object
 34  summonerName_8_x         4498 non-null   object
 35  summonerName_9_x         4498 non-null   object
 36  teamcode_blue_on_detail  4498 non-null   object
 37  teamcode_red_on_detail   4498 non-null   object
 38  esportsPlayerId_0        4478 non-null   object
 39  esportsPlayerId_1        4481 non-null   object
 40  esportsPlayerId_2        4478 non-null   object
 41  esportsPlayerId_3        4472 non-null   object
 42  esportsPlayerId_4        4481 non-null   object
 43  esportsPlayerId_5        4481 non-null   object
 44  esportsPlayerId_6        4485 non-null   object
 45  esportsPlayerId_7        4481 non-null   object
 46  esportsPlayerId_8        4473 non-null   object
 47  esportsPlayerId_9        4485 non-null   object
 48  date                     3615 non-null   object
 49  tournament_title         3615 non-null   object
 50  patch_y                  3615 non-null   object
 51  blueteam                 3615 non-null   object
 52  redteam                  3615 non-null   object
 53  winner_side              3615 non-null   object
 54  ban_0                    3615 non-null   object
 55  ban_1                    3615 non-null   object
 56  ban_2                    3615 non-null   object
 57  ban_3                    3612 non-null   object
 58  ban_4                    3590 non-null   object
 59  ban_5                    3615 non-null   object
 60  ban_6                    3615 non-null   object
 61  ban_7                    3615 non-null   object
 62  ban_8                    3614 non-null   object
 63  ban_9                    3597 non-null   object
 64  summonerName_0_y         3615 non-null   object
 65  summonerName_1_y         3615 non-null   object
 66  summonerName_2_y         3615 non-null   object
 67  summonerName_3_y         3615 non-null   object
 68  summonerName_4_y         3615 non-null   object
 69  summonerName_5_y         3615 non-null   object
 70  summonerName_6_y         3615 non-null   object
 71  summonerName_7_y         3615 non-null   object
 72  summonerName_8_y         3615 non-null   object
 73  summonerName_9_y         3615 non-null   object
 74  tournament_name          3615 non-null   object
 75  tournament_id            3615 non-null   object
 76  tournament_slug          3615 non-null   object
 77  blueteam_code_y          3615 non-null   object
 78  redteam_code_y           3615 non-null   object
dtypes: int64(5), object(74)
memory usage: 2.7+ MB

In [275]:
result_df.to_excel("../data/game_ids_merged.xlsx", index = False)

In [276]:
def concat_columns(row):
    return f"{row["blueteam_name"]} vs {row["redteam_name"]}"

In [277]:
handmade_df = result_df[pd.isna(result_df["winner_side"]) == True].copy()
handmade_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 883 entries, 164 to 4544
Data columns (total 79 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   index                    883 non-null    int64
 1   startTime(match)         883 non-null    object
 2   tournamentId             883 non-null    object
 3   blockName                883 non-null    object
 4   leagueName               883 non-null    object
 5   matchId                  883 non-null    object
 6   bestof                   883 non-null    int64
 7   blueteam_name            883 non-null    object
 8   blueteam_code_x          883 non-null    object
 9   blueteam_win             883 non-null    int64
 10  redteam_name             883 non-null    object
 11  redteam_code_x           883 non-null    object
 12  redteam_win              883 non-null    int64
 13  gameNumberInAMatch       883 non-null    int64
 14  gameId                   883 non-null    object
 15  patch_x                  883 non-null    object
 16  pick_0                   883 non-null    object
 17  pick_1                   883 non-null    object
 18  pick_2                   883 non-null    object
 19  pick_3                   883 non-null    object
 20  pick_4                   883 non-null    object
 21  pick_5                   883 non-null    object
 22  pick_6                   883 non-null    object
 23  pick_7                   883 non-null    object
 24  pick_8                   883 non-null    object
 25  pick_9                   883 non-null    object
 26  summonerName_0_x         883 non-null    object
 27  summonerName_1_x         883 non-null    object
 28  summonerName_2_x         883 non-null    object
 29  summonerName_3_x         883 non-null    object
 30  summonerName_4_x         883 non-null    object
 31  summonerName_5_x         883 non-null    object
 32  summonerName_6_x         883 non-null    object
 33  summonerName_7_x         883 non-null    object
 34  summonerName_8_x         883 non-null    object
 35  summonerName_9_x         883 non-null    object
 36  teamcode_blue_on_detail  883 non-null    object
 37  teamcode_red_on_detail   883 non-null    object
 38  esportsPlayerId_0        870 non-null    object
 39  esportsPlayerId_1        872 non-null    object
 40  esportsPlayerId_2        870 non-null    object
 41  esportsPlayerId_3        864 non-null    object
 42  esportsPlayerId_4        872 non-null    object
 43  esportsPlayerId_5        873 non-null    object
 44  esportsPlayerId_6        875 non-null    object
 45  esportsPlayerId_7        873 non-null    object
 46  esportsPlayerId_8        865 non-null    object
 47  esportsPlayerId_9        875 non-null    object
 48  date                     0 non-null      object
 49  tournament_title         0 non-null      object
 50  patch_y                  0 non-null      object
 51  blueteam                 0 non-null      object
 52  redteam                  0 non-null      object
 53  winner_side              0 non-null      object
 54  ban_0                    0 non-null      object
 55  ban_1                    0 non-null      object
 56  ban_2                    0 non-null      object
 57  ban_3                    0 non-null      object
 58  ban_4                    0 non-null      object
 59  ban_5                    0 non-null      object
 60  ban_6                    0 non-null      object
 61  ban_7                    0 non-null      object
 62  ban_8                    0 non-null      object
 63  ban_9                    0 non-null      object
 64  summonerName_0_y         0 non-null      object
 65  summonerName_1_y         0 non-null      object
 66  summonerName_2_y         0 non-null      object
 67  summonerName_3_y         0 non-null      object
 68  summonerName_4_y         0 non-null      object
 69  summonerName_5_y         0 non-null      object
 70  summonerName_6_y         0 non-null      object
 71  summonerName_7_y         0 non-null      object
 72  summonerName_8_y         0 non-null      object
 73  summonerName_9_y         0 non-null      object
 74  tournament_name          0 non-null      object
 75  tournament_id            0 non-null      object
 76  tournament_slug          0 non-null      object
 77  blueteam_code_y          0 non-null      object
 78  redteam_code_y           0 non-null      object
dtypes: int64(5), object(74)
memory usage: 551.9+ KB

In [278]:
columns = ["startTime(match)", "tournamentId", "teamcode_blue_on_detail", "teamcode_red_on_detail", "winner_side", "gameId", "patch_x", "blueteam_name", "redteam_name"]
columns.extend([f"pick_{i}" for i in range(10)])
columns.extend([f"summonerName_{i}_x" for i in range(10)])
handmade_df_simple = handmade_df.loc[:, columns]
handmade_df_simple["match_vs"] = handmade_df_simple.apply(concat_columns, axis = 1)
handmade_df_simple.drop(["blueteam_name", "redteam_name"], axis=1, inplace=True)
columns_order = ["startTime(match)", "tournamentId", "match_vs", "teamcode_blue_on_detail", "teamcode_red_on_detail", "winner_side", "gameId", "patch_x"]
columns_order.extend([f"pick_{i}" for i in range(10)])
columns_order.extend([f"summonerName_{i}_x" for i in range(10)])
handmade_df_simple = handmade_df_simple[columns_order]

In [279]:
handmade_df_simple.info()

<class 'pandas.core.frame.DataFrame'>
Index: 883 entries, 164 to 4544
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   startTime(match)         883 non-null    object
 1   tournamentId             883 non-null    object
 2   match_vs                 883 non-null    object
 3   teamcode_blue_on_detail  883 non-null    object
 4   teamcode_red_on_detail   883 non-null    object
 5   winner_side              0 non-null      object
 6   gameId                   883 non-null    object
 7   patch_x                  883 non-null    object
 8   pick_0                   883 non-null    object
 9   pick_1                   883 non-null    object
 10  pick_2                   883 non-null    object
 11  pick_3                   883 non-null    object
 12  pick_4                   883 non-null    object
 13  pick_5                   883 non-null    object
 14  pick_6                   883 non-null    object
 15  pick_7                   883 non-null    object
 16  pick_8                   883 non-null    object
 17  pick_9                   883 non-null    object
 18  summonerName_0_x         883 non-null    object
 19  summonerName_1_x         883 non-null    object
 20  summonerName_2_x         883 non-null    object
 21  summonerName_3_x         883 non-null    object
 22  summonerName_4_x         883 non-null    object
 23  summonerName_5_x         883 non-null    object
 24  summonerName_6_x         883 non-null    object
 25  summonerName_7_x         883 non-null    object
 26  summonerName_8_x         883 non-null    object
 27  summonerName_9_x         883 non-null    object
dtypes: object(28)
memory usage: 200.1+ KB

In [280]:
handmade_df_simple.to_excel("../data/handmade_game_ids_simple.xlsx")

In [281]:
handmade_df.to_excel("../data/handmade_game_ids.xlsx")

여기서 우리가 수작업한 엑셀파일 handmade_game_ids_crosschecked.xlsx가 들어간다!

In [301]:
crosschecked_df = pd.read_excel("../data/handmade_game_ids_crosschecked.xlsx", dtype = "str")[["gameId", "winner_side"]]
crosschecked_df.columns = ["gameId", "winner_side_x"]
crosschecked_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 883 entries, 0 to 882
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   gameId         883 non-null    object
 1   winner_side_x  883 non-null    object
dtypes: object(2)
memory usage: 13.9+ KB

In [302]:
result_winner_side = result_df[["gameId", "winner_side"]]
winnerside_of_merged = result_winner_side[result_winner_side["winner_side"].isna() == False]
winnerside_of_merged.columns = ["gameId", "winner_side_y"]
winnerside_of_merged.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3615 entries, 0 to 4593
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   gameId         3615 non-null   object
 1   winner_side_y  3615 non-null   object
dtypes: object(2)
memory usage: 84.7+ KB

In [333]:
game_ids_df = pd.read_excel("../data/game_ids_with_winside_danpan.xlsx", dtype = strcolumn_dict)
game_ids_df.tail()

,Unnamed: 0,startTime(match),tournamentId,blockName,leagueName,matchId,bestof,blueteam_name,blueteam_code,blueteam_win,...,esportsPlayerId_1,esportsPlayerId_2,esportsPlayerId_3,esportsPlayerId_4,esportsPlayerId_5,esportsPlayerId_6,esportsPlayerId_7,esportsPlayerId_8,esportsPlayerId_9,winner_side
8018,8018,2023-04-22T10:00:00Z,109749565997987636,Knockouts,VCS,109749565998970929,5,CERBERUS ESPORTS,CES,0,...,102848965907008705,102300322396525713,105301884027266192,98767975954252935,107251636998679351,107255592262151792,107251642747641853,107251647709372417,102849319864045953,NaN
8019,8019,2023-04-23T10:00:00Z,109749565997987636,Finals,VCS,109749565999036471,5,SBTC ESPORTS,SE,1,...,102848965907008705,102300322396525713,105301884027266192,98767975954252935,107330029738468255,98767975918707483,107251572267658009,107251575502514974,102849319860638077,NaN
8020,8020,2023-04-23T10:00:00Z,109749565997987636,Finals,VCS,109749565999036471,5,SBTC ESPORTS,SE,1,...,98767975918707483,107251572267658009,107251575502514974,102849319860638077,107251383938441076,102848965907008705,102300322396525713,105301884027266192,98767975954252935,NaN
8021,8021,2023-04-23T10:00:00Z,109749565997987636,Finals,VCS,109749565999036471,5,SBTC ESPORTS,SE,1,...,98767975918707483,107251572267658009,107251575502514974,102849319860638077,107251383938441076,102848965907008705,102300322396525713,105301884027266192,98767975954252935,NaN
8022,8022,2023-04-23T10:00:00Z,109749565997987636,Finals,VCS,109749565999036471,5,SBTC ESPORTS,SE,1,...,98767975918707483,107251572267658009,107251575502514974,102849319860638077,107251383938441076,102848965907008705,102300322396525713,105301884027266192,98767975954252935,NaN

In [334]:
game_ids_df = pd.merge(game_ids_df, winnerside_of_merged, how = "left", on = "gameId")
game_ids_df = pd.merge(game_ids_df, crosschecked_df, how = "left", on = "gameId")
game_ids_df.rename(columns = {"winner_side":"winner_side_z"}, inplace = True)
game_ids_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8023 entries, 0 to 8022
Data columns (total 51 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               8023 non-null   int64
 1   startTime(match)         8023 non-null   object
 2   tournamentId             8023 non-null   object
 3   blockName                8023 non-null   object
 4   leagueName               8023 non-null   object
 5   matchId                  8023 non-null   object
 6   bestof                   8023 non-null   int64
 7   blueteam_name            8023 non-null   object
 8   blueteam_code            8023 non-null   object
 9   blueteam_win             8023 non-null   int64
 10  redteam_name             8023 non-null   object
 11  redteam_code             8023 non-null   object
 12  redteam_win              8023 non-null   int64
 13  gameNumberInAMatch       8023 non-null   int64
 14  gameId                   8023 non-null   object
 15  patch                    8023 non-null   object
 16  pick_0                   8023 non-null   object
 17  pick_1                   8023 non-null   object
 18  pick_2                   8023 non-null   object
 19  pick_3                   8023 non-null   object
 20  pick_4                   8023 non-null   object
 21  pick_5                   8023 non-null   object
 22  pick_6                   8023 non-null   object
 23  pick_7                   8023 non-null   object
 24  pick_8                   8023 non-null   object
 25  pick_9                   8023 non-null   object
 26  summonerName_0           8023 non-null   object
 27  summonerName_1           8023 non-null   object
 28  summonerName_2           8023 non-null   object
 29  summonerName_3           8023 non-null   object
 30  summonerName_4           8023 non-null   object
 31  summonerName_5           8023 non-null   object
 32  summonerName_6           8023 non-null   object
 33  summonerName_7           8023 non-null   object
 34  summonerName_8           8023 non-null   object
 35  summonerName_9           8023 non-null   object
 36  teamcode_blue_on_detail  8023 non-null   object
 37  teamcode_red_on_detail   8023 non-null   object
 38  esportsPlayerId_0        7960 non-null   object
 39  esportsPlayerId_1        7961 non-null   object
 40  esportsPlayerId_2        7962 non-null   object
 41  esportsPlayerId_3        7951 non-null   object
 42  esportsPlayerId_4        7970 non-null   object
 43  esportsPlayerId_5        7964 non-null   object
 44  esportsPlayerId_6        7965 non-null   object
 45  esportsPlayerId_7        7964 non-null   object
 46  esportsPlayerId_8        7951 non-null   object
 47  esportsPlayerId_9        7970 non-null   object
 48  winner_side_z            3525 non-null   object
 49  winner_side_y            3615 non-null   object
 50  winner_side_x            883 non-null    object
dtypes: int64(5), object(46)
memory usage: 3.1+ MB

In [335]:
def makeWinnerSideInAColumn(row):
    if pd.isna(row["winner_side_z"]) == False:
        row["winner_side"] = row["winner_side_z"]
    elif pd.isna(row["winner_side_y"]) == False:
        row["winner_side"] = row["winner_side_y"]
    else:
        row["winner_side"] = row["winner_side_x"]
    return row

In [336]:
game_ids_df = game_ids_df.apply(makeWinnerSideInAColumn, axis = 1)
game_ids_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8023 entries, 0 to 8022
Data columns (total 52 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               8023 non-null   int64
 1   startTime(match)         8023 non-null   object
 2   tournamentId             8023 non-null   object
 3   blockName                8023 non-null   object
 4   leagueName               8023 non-null   object
 5   matchId                  8023 non-null   object
 6   bestof                   8023 non-null   int64
 7   blueteam_name            8023 non-null   object
 8   blueteam_code            8023 non-null   object
 9   blueteam_win             8023 non-null   int64
 10  redteam_name             8023 non-null   object
 11  redteam_code             8023 non-null   object
 12  redteam_win              8023 non-null   int64
 13  gameNumberInAMatch       8023 non-null   int64
 14  gameId                   8023 non-null   object
 15  patch                    8023 non-null   object
 16  pick_0                   8023 non-null   object
 17  pick_1                   8023 non-null   object
 18  pick_2                   8023 non-null   object
 19  pick_3                   8023 non-null   object
 20  pick_4                   8023 non-null   object
 21  pick_5                   8023 non-null   object
 22  pick_6                   8023 non-null   object
 23  pick_7                   8023 non-null   object
 24  pick_8                   8023 non-null   object
 25  pick_9                   8023 non-null   object
 26  summonerName_0           8023 non-null   object
 27  summonerName_1           8023 non-null   object
 28  summonerName_2           8023 non-null   object
 29  summonerName_3           8023 non-null   object
 30  summonerName_4           8023 non-null   object
 31  summonerName_5           8023 non-null   object
 32  summonerName_6           8023 non-null   object
 33  summonerName_7           8023 non-null   object
 34  summonerName_8           8023 non-null   object
 35  summonerName_9           8023 non-null   object
 36  teamcode_blue_on_detail  8023 non-null   object
 37  teamcode_red_on_detail   8023 non-null   object
 38  esportsPlayerId_0        7960 non-null   object
 39  esportsPlayerId_1        7961 non-null   object
 40  esportsPlayerId_2        7962 non-null   object
 41  esportsPlayerId_3        7951 non-null   object
 42  esportsPlayerId_4        7970 non-null   object
 43  esportsPlayerId_5        7964 non-null   object
 44  esportsPlayerId_6        7965 non-null   object
 45  esportsPlayerId_7        7964 non-null   object
 46  esportsPlayerId_8        7951 non-null   object
 47  esportsPlayerId_9        7970 non-null   object
 48  winner_side_z            3525 non-null   object
 49  winner_side_y            3615 non-null   object
 50  winner_side_x            883 non-null    object
 51  winner_side              8023 non-null   object
dtypes: int64(5), object(47)
memory usage: 3.2+ MB

In [337]:
game_ids_df.drop(["Unnamed: 0", "winner_side_x", "winner_side_y", "winner_side_z"], axis = 1, inplace = True)
game_ids_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8023 entries, 0 to 8022
Data columns (total 48 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   startTime(match)         8023 non-null   object
 1   tournamentId             8023 non-null   object
 2   blockName                8023 non-null   object
 3   leagueName               8023 non-null   object
 4   matchId                  8023 non-null   object
 5   bestof                   8023 non-null   int64
 6   blueteam_name            8023 non-null   object
 7   blueteam_code            8023 non-null   object
 8   blueteam_win             8023 non-null   int64
 9   redteam_name             8023 non-null   object
 10  redteam_code             8023 non-null   object
 11  redteam_win              8023 non-null   int64
 12  gameNumberInAMatch       8023 non-null   int64
 13  gameId                   8023 non-null   object
 14  patch                    8023 non-null   object
 15  pick_0                   8023 non-null   object
 16  pick_1                   8023 non-null   object
 17  pick_2                   8023 non-null   object
 18  pick_3                   8023 non-null   object
 19  pick_4                   8023 non-null   object
 20  pick_5                   8023 non-null   object
 21  pick_6                   8023 non-null   object
 22  pick_7                   8023 non-null   object
 23  pick_8                   8023 non-null   object
 24  pick_9                   8023 non-null   object
 25  summonerName_0           8023 non-null   object
 26  summonerName_1           8023 non-null   object
 27  summonerName_2           8023 non-null   object
 28  summonerName_3           8023 non-null   object
 29  summonerName_4           8023 non-null   object
 30  summonerName_5           8023 non-null   object
 31  summonerName_6           8023 non-null   object
 32  summonerName_7           8023 non-null   object
 33  summonerName_8           8023 non-null   object
 34  summonerName_9           8023 non-null   object
 35  teamcode_blue_on_detail  8023 non-null   object
 36  teamcode_red_on_detail   8023 non-null   object
 37  esportsPlayerId_0        7960 non-null   object
 38  esportsPlayerId_1        7961 non-null   object
 39  esportsPlayerId_2        7962 non-null   object
 40  esportsPlayerId_3        7951 non-null   object
 41  esportsPlayerId_4        7970 non-null   object
 42  esportsPlayerId_5        7964 non-null   object
 43  esportsPlayerId_6        7965 non-null   object
 44  esportsPlayerId_7        7964 non-null   object
 45  esportsPlayerId_8        7951 non-null   object
 46  esportsPlayerId_9        7970 non-null   object
 47  winner_side              8023 non-null   object
dtypes: int64(4), object(44)
memory usage: 2.9+ MB

In [338]:
game_ids_df.to_excel("../data/game_ids.xlsx")