In [187]:
import pandas as pd
import numpy as np
import json
import tqdm

In [188]:
game_ids_df = pd.read_excel("../data/game_ids.xlsx")
game_ids_df = game_ids_df.astype({"tournamentId":"str", "matchId":"str", "gameId":"str"})
game_ids_df.drop("Unnamed: 0", axis=1, inplace=True)
game_ids_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9287 entries, 0 to 9286
Data columns (total 25 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   startTime(match)    9287 non-null   object
 1   tournamentId        9287 non-null   object
 2   blockName           9287 non-null   object
 3   leagueName          9287 non-null   object
 4   matchId             9287 non-null   object
 5   bestof              9287 non-null   int64
 6   blueteam_name       9287 non-null   object
 7   blueteam_code       9287 non-null   object
 8   blueteam_win        9287 non-null   int64
 9   redteam_name        9287 non-null   object
 10  redteam_code        9287 non-null   object
 11  redteam_win         9287 non-null   int64
 12  gameNumberInAMatch  9287 non-null   int64
 13  gameId              9287 non-null   object
 14  patch               8081 non-null   float64
 15  pick_0              8023 non-null   object
 16  pick_1              8023 non-null   object
 17  pick_2              8023 non-null   object
 18  pick_3              8023 non-null   object
 19  pick_4              8023 non-null   object
 20  pick_5              8023 non-null   object
 21  pick_6              8023 non-null   object
 22  pick_7              8023 non-null   object
 23  pick_8              8023 non-null   object
 24  pick_9              8023 non-null   object
dtypes: float64(1), int64(4), object(20)
memory usage: 1.8+ MB

In [189]:
game_ids_with_picks_df = game_ids_df[pd.isna(game_ids_df["pick_0"]) == False].copy()
game_ids_with_picks_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8023 entries, 0 to 9286
Data columns (total 25 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   startTime(match)    8023 non-null   object
 1   tournamentId        8023 non-null   object
 2   blockName           8023 non-null   object
 3   leagueName          8023 non-null   object
 4   matchId             8023 non-null   object
 5   bestof              8023 non-null   int64
 6   blueteam_name       8023 non-null   object
 7   blueteam_code       8023 non-null   object
 8   blueteam_win        8023 non-null   int64
 9   redteam_name        8023 non-null   object
 10  redteam_code        8023 non-null   object
 11  redteam_win         8023 non-null   int64
 12  gameNumberInAMatch  8023 non-null   int64
 13  gameId              8023 non-null   object
 14  patch               8023 non-null   float64
 15  pick_0              8023 non-null   object
 16  pick_1              8023 non-null   object
 17  pick_2              8023 non-null   object
 18  pick_3              8023 non-null   object
 19  pick_4              8023 non-null   object
 20  pick_5              8023 non-null   object
 21  pick_6              8023 non-null   object
 22  pick_7              8023 non-null   object
 23  pick_8              8023 non-null   object
 24  pick_9              8023 non-null   object
dtypes: float64(1), int64(4), object(20)
memory usage: 1.6+ MB

In [190]:
crawled_df = pd.read_excel("../data/crawling_result_with_codenames.xlsx")
crawled_df = crawled_df.astype({"tournament_id":"str", "patch":"str"})
crawled_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20179 entries, 0 to 20178
Data columns (total 31 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              20179 non-null  object
 1   tournament_title  20179 non-null  object
 2   patch             20179 non-null  object
 3   blueteam          20179 non-null  object
 4   redteam           20179 non-null  object
 5   winner_side       20179 non-null  object
 6   ban_0             20135 non-null  object
 7   ban_1             20152 non-null  object
 8   ban_2             20147 non-null  object
 9   ban_3             16973 non-null  object
 10  ban_4             16887 non-null  object
 11  ban_5             20127 non-null  object
 12  ban_6             20151 non-null  object
 13  ban_7             20143 non-null  object
 14  ban_8             16978 non-null  object
 15  ban_9             16875 non-null  object
 16  pick_0            20179 non-null  object
 17  pick_1            20179 non-null  object
 18  pick_2            20179 non-null  object
 19  pick_3            20179 non-null  object
 20  pick_4            20179 non-null  object
 21  pick_5            20179 non-null  object
 22  pick_6            20179 non-null  object
 23  pick_7            20179 non-null  object
 24  pick_8            20179 non-null  object
 25  pick_9            20179 non-null  object
 26  tournament_name   20179 non-null  object
 27  tournament_id     20179 non-null  object
 28  tournament_slug   20179 non-null  object
 29  blueteam_code     20179 non-null  object
 30  redteam_code      20179 non-null  object
dtypes: object(31)
memory usage: 4.8+ MB

In [191]:
pick_column_list = [f"pick_{x}" for x in range(10)]
left_on = ["tournamentId", "blueteam_code", "redteam_code"]
left_on_reversed = ["tournamentId", "redteam_code", "blueteam_code"]
right_on = ["tournament_id", "blueteam_code", "redteam_code"]
left_on.extend(pick_column_list)
left_on_reversed.extend(pick_column_list)
right_on.extend(pick_column_list)
game_ids_with_picks_df = game_ids_df.astype({"patch":"str"})
print(left_on)
print(left_on_reversed)
print(right_on)

['tournamentId', 'blueteam_code', 'redteam_code', 'pick_0', 'pick_1', 'pick_2', 'pick_3', 'pick_4', 'pick_5', 'pick_6', 'pick_7', 'pick_8', 'pick_9']
['tournamentId', 'redteam_code', 'blueteam_code', 'pick_0', 'pick_1', 'pick_2', 'pick_3', 'pick_4', 'pick_5', 'pick_6', 'pick_7', 'pick_8', 'pick_9']
['tournament_id', 'blueteam_code', 'redteam_code', 'pick_0', 'pick_1', 'pick_2', 'pick_3', 'pick_4', 'pick_5', 'pick_6', 'pick_7', 'pick_8', 'pick_9']

In [192]:
game_ids_with_picks_df[left_on].head()

,tournamentId,blueteam_code,redteam_code,pick_0,pick_1,pick_2,pick_3,pick_4,pick_5,pick_6,pick_7,pick_8,pick_9
0,112099354464733424,FLY,PSG,Urgot,Sejuani,Taliyah,Jinx,Nautilus,Rumble,JarvanIV,Azir,Senna,TahmKench
1,112099354464733424,FLY,PSG,Urgot,Maokai,Taliyah,Lucian,Nami,KSante,Sejuani,Azir,Kalista,Ashe
2,112099354464733424,FLY,PSG,KSante,XinZhao,Karma,Kalista,Rell,Olaf,Sejuani,Orianna,Varus,Nautilus
3,112099354464733424,T1,EST,KSante,LeeSin,Orianna,Kalista,Neeko,Yone,Volibear,Ahri,Draven,Rell
4,112099354464733424,T1,EST,Aatrox,LeeSin,Ahri,Draven,Ashe,KSante,Viego,Orianna,Kalista,Rumble

In [193]:
crawled_df[right_on].head()

,tournament_id,blueteam_code,redteam_code,pick_0,pick_1,pick_2,pick_3,pick_4,pick_5,pick_6,pick_7,pick_8,pick_9
0,112099354464733424,GEN,BLG,Rumble,Lee Sin,Azir,Senna,Maokai,Camille,Nidalee,Tristana,Zeri,Nautilus
1,112099354464733424,BLG,GEN,Jax,Nidalee,Jayce,Senna,Tahm Kench,Rumble,Lee Sin,Hwei,Kalista,Ashe
2,112099354464733424,BLG,GEN,Camille,Xin Zhao,Orianna,Varus,Ashe,Zac,Sejuani,Yone,Kalista,Blitzcrank
3,112099354464733424,GEN,BLG,K'Sante,Karthus,Yone,Senna,Tahm Kench,Twisted Fate,Xin Zhao,Neeko,Lucian,Nami
4,112099354464733424,BLG,T1,Camille,Xin Zhao,Neeko,Senna,Ornn,K'Sante,Viego,Taliyah,Varus,Nautilus

In [194]:
picks_of_game_ids_set = set(np.concatenate(game_ids_with_picks_df.loc[:,pick_column_list].values.tolist()).tolist())
len(picks_of_game_ids_set)

165

In [195]:
picks_of_crawled_set = set(np.concatenate(crawled_df.loc[:,pick_column_list].values.tolist()).tolist())
len(picks_of_crawled_set)

165

In [196]:
difference_of_game_ids = picks_of_game_ids_set.difference(picks_of_crawled_set)
difference_of_crawled = picks_of_crawled_set.difference(picks_of_game_ids_set)
print(difference_of_game_ids)
print(len(difference_of_game_ids))
print(difference_of_crawled)
print(len(difference_of_crawled))

{'KogMaw', 'MonkeyKing', 'KSante', 'TahmKench', 'Renata', 'LeeSin', 'Chogath', 'Belveth', 'RekSai', 'JarvanIV', 'TwistedFate', 'Khazix', 'XinZhao', 'DrMundo', 'nan', 'AurelionSol', 'MissFortune', 'Velkoz', 'Leblanc', 'Kaisa', 'FiddleSticks'}
21
{"Kha'Zix", 'Jarvan IV', "Rek'Sai", "Vel'Koz", 'Twisted Fate', "Bel'Veth", "Kog'Maw", 'Miss Fortune', 'Master Yi', "Cho'Gath", 'Aurelion Sol', 'Xin Zhao', 'Renata Glasc', 'Wukong', 'Dr. Mundo', 'Fiddlesticks', "K'Sante", "Kai'Sa", 'Tahm Kench', 'Lee Sin', 'LeBlanc'}
21

In [197]:
with open('../data/pick_name_not_the_same.json', 'r') as f:
    pick_difference_map = json.load(f)
crawled_df[pick_column_list] = crawled_df[pick_column_list].replace(pick_difference_map)

In [198]:
picks_of_game_ids_set = set(np.concatenate(game_ids_with_picks_df.loc[:,pick_column_list].values.tolist()).tolist())
picks_of_crawled_set = set(np.concatenate(crawled_df.loc[:,pick_column_list].values.tolist()).tolist())
difference_of_game_ids = picks_of_game_ids_set.difference(picks_of_crawled_set)
difference_of_crawled = picks_of_crawled_set.difference(picks_of_game_ids_set)
print(difference_of_game_ids)
print(len(difference_of_game_ids))
print(difference_of_crawled)
print(len(difference_of_crawled))

{'nan'}
1
{'Master Yi'}
1

In [199]:
result_df = pd.merge(game_ids_with_picks_df, crawled_df, how = "left", left_on = left_on, right_on = right_on)
result_df_reversed = pd.merge(game_ids_with_picks_df, crawled_df, how = "left", left_on = left_on_reversed, right_on = right_on)

In [200]:
result_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9306 entries, 0 to 9305
Data columns (total 44 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   startTime(match)    9306 non-null   object
 1   tournamentId        9306 non-null   object
 2   blockName           9306 non-null   object
 3   leagueName          9306 non-null   object
 4   matchId             9306 non-null   object
 5   bestof              9306 non-null   int64
 6   blueteam_name       9306 non-null   object
 7   blueteam_code       9306 non-null   object
 8   blueteam_win        9306 non-null   int64
 9   redteam_name        9306 non-null   object
 10  redteam_code        9306 non-null   object
 11  redteam_win         9306 non-null   int64
 12  gameNumberInAMatch  9306 non-null   int64
 13  gameId              9306 non-null   object
 14  patch_x             9306 non-null   object
 15  pick_0              8042 non-null   object
 16  pick_1              8042 non-null   object
 17  pick_2              8042 non-null   object
 18  pick_3              8042 non-null   object
 19  pick_4              8042 non-null   object
 20  pick_5              8042 non-null   object
 21  pick_6              8042 non-null   object
 22  pick_7              8042 non-null   object
 23  pick_8              8042 non-null   object
 24  pick_9              8042 non-null   object
 25  date                4418 non-null   object
 26  tournament_title    4418 non-null   object
 27  patch_y             4418 non-null   object
 28  blueteam            4418 non-null   object
 29  redteam             4418 non-null   object
 30  winner_side         4418 non-null   object
 31  ban_0               4417 non-null   object
 32  ban_1               4417 non-null   object
 33  ban_2               4417 non-null   object
 34  ban_3               4413 non-null   object
 35  ban_4               4391 non-null   object
 36  ban_5               4418 non-null   object
 37  ban_6               4418 non-null   object
 38  ban_7               4418 non-null   object
 39  ban_8               4418 non-null   object
 40  ban_9               4392 non-null   object
 41  tournament_name     4418 non-null   object
 42  tournament_id       4418 non-null   object
 43  tournament_slug     4418 non-null   object
dtypes: int64(4), object(40)
memory usage: 3.1+ MB

In [201]:
result_df_reversed.rename(columns = {"blueteam_code_x":"blueteam_code", "redteam_code_x":"redteam_code"}, inplace=True)
result_df_reversed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9296 entries, 0 to 9295
Data columns (total 46 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   startTime(match)    9296 non-null   object
 1   tournamentId        9296 non-null   object
 2   blockName           9296 non-null   object
 3   leagueName          9296 non-null   object
 4   matchId             9296 non-null   object
 5   bestof              9296 non-null   int64
 6   blueteam_name       9296 non-null   object
 7   blueteam_code       9296 non-null   object
 8   blueteam_win        9296 non-null   int64
 9   redteam_name        9296 non-null   object
 10  redteam_code        9296 non-null   object
 11  redteam_win         9296 non-null   int64
 12  gameNumberInAMatch  9296 non-null   int64
 13  gameId              9296 non-null   object
 14  patch_x             9296 non-null   object
 15  pick_0              8032 non-null   object
 16  pick_1              8032 non-null   object
 17  pick_2              8032 non-null   object
 18  pick_3              8032 non-null   object
 19  pick_4              8032 non-null   object
 20  pick_5              8032 non-null   object
 21  pick_6              8032 non-null   object
 22  pick_7              8032 non-null   object
 23  pick_8              8032 non-null   object
 24  pick_9              8032 non-null   object
 25  date                1145 non-null   object
 26  tournament_title    1145 non-null   object
 27  patch_y             1145 non-null   object
 28  blueteam            1145 non-null   object
 29  redteam             1145 non-null   object
 30  winner_side         1145 non-null   object
 31  ban_0               1145 non-null   object
 32  ban_1               1145 non-null   object
 33  ban_2               1145 non-null   object
 34  ban_3               1144 non-null   object
 35  ban_4               1138 non-null   object
 36  ban_5               1145 non-null   object
 37  ban_6               1145 non-null   object
 38  ban_7               1145 non-null   object
 39  ban_8               1144 non-null   object
 40  ban_9               1139 non-null   object
 41  tournament_name     1145 non-null   object
 42  tournament_id       1145 non-null   object
 43  tournament_slug     1145 non-null   object
 44  blueteam_code_y     1145 non-null   object
 45  redteam_code_y      1145 non-null   object
dtypes: int64(4), object(42)
memory usage: 3.3+ MB

In [202]:
result_df["blueteam_code_y"] = np.nan
result_df["redteam_code_y"] = np.nan
new_df = pd.merge(result_df, result_df_reversed, how="inner", on = left_on)
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11735 entries, 0 to 11734
Data columns (total 79 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   startTime(match)_x    11735 non-null  object
 1   tournamentId          11735 non-null  object
 2   blockName_x           11735 non-null  object
 3   leagueName_x          11735 non-null  object
 4   matchId_x             11735 non-null  object
 5   bestof_x              11735 non-null  int64
 6   blueteam_name_x       11735 non-null  object
 7   blueteam_code         11735 non-null  object
 8   blueteam_win_x        11735 non-null  int64
 9   redteam_name_x        11735 non-null  object
 10  redteam_code          11735 non-null  object
 11  redteam_win_x         11735 non-null  int64
 12  gameNumberInAMatch_x  11735 non-null  int64
 13  gameId_x              11735 non-null  object
 14  patch_x_x             11735 non-null  object
 15  pick_0                8067 non-null   object
 16  pick_1                8067 non-null   object
 17  pick_2                8067 non-null   object
 18  pick_3                8067 non-null   object
 19  pick_4                8067 non-null   object
 20  pick_5                8067 non-null   object
 21  pick_6                8067 non-null   object
 22  pick_7                8067 non-null   object
 23  pick_8                8067 non-null   object
 24  pick_9                8067 non-null   object
 25  date_x                4430 non-null   object
 26  tournament_title_x    4430 non-null   object
 27  patch_y_x             4430 non-null   object
 28  blueteam_x            4430 non-null   object
 29  redteam_x             4430 non-null   object
 30  winner_side_x         4430 non-null   object
 31  ban_0_x               4429 non-null   object
 32  ban_1_x               4429 non-null   object
 33  ban_2_x               4429 non-null   object
 34  ban_3_x               4425 non-null   object
 35  ban_4_x               4403 non-null   object
 36  ban_5_x               4430 non-null   object
 37  ban_6_x               4430 non-null   object
 38  ban_7_x               4430 non-null   object
 39  ban_8_x               4430 non-null   object
 40  ban_9_x               4404 non-null   object
 41  tournament_name_x     4430 non-null   object
 42  tournament_id_x       4430 non-null   object
 43  tournament_slug_x     4430 non-null   object
 44  blueteam_code_y_x     0 non-null      float64
 45  redteam_code_y_x      0 non-null      float64
 46  startTime(match)_y    11735 non-null  object
 47  blockName_y           11735 non-null  object
 48  leagueName_y          11735 non-null  object
 49  matchId_y             11735 non-null  object
 50  bestof_y              11735 non-null  int64
 51  blueteam_name_y       11735 non-null  object
 52  blueteam_win_y        11735 non-null  int64
 53  redteam_name_y        11735 non-null  object
 54  redteam_win_y         11735 non-null  int64
 55  gameNumberInAMatch_y  11735 non-null  int64
 56  gameId_y              11735 non-null  object
 57  patch_x_y             11735 non-null  object
 58  date_y                1145 non-null   object
 59  tournament_title_y    1145 non-null   object
 60  patch_y_y             1145 non-null   object
 61  blueteam_y            1145 non-null   object
 62  redteam_y             1145 non-null   object
 63  winner_side_y         1145 non-null   object
 64  ban_0_y               1145 non-null   object
 65  ban_1_y               1145 non-null   object
 66  ban_2_y               1145 non-null   object
 67  ban_3_y               1144 non-null   object
 68  ban_4_y               1138 non-null   object
 69  ban_5_y               1145 non-null   object
 70  ban_6_y               1145 non-null   object
 71  ban_7_y               1145 non-null   object
 72  ban_8_y               1144 non-null   object
 73  ban_9_y               1139 non-null   object
 74  tournament_name_y     1145 non-null   object
 75  tournament_id_y       1145 non-null   object
 76  tournament_slug_y     1145 non-null   object
 77  blueteam_code_y_y     1145 non-null   object
 78  redteam_code_y_y      1145 non-null   object
dtypes: float64(2), int64(8), object(69)
memory usage: 7.1+ MB

In [203]:
result_df.to_excel("../data/game_ids_with_result.xlsx", index=None)
result_df_reversed.to_excel("../data/game_ids_with_result_reversed.xlsx", index = None)

In [204]:
new_df.to_excel("../data/game_ids_with_result_test.xlsx", index = True)