In [79]:
import pandas as pd
import numpy as np
import json
import tqdm

In [80]:
game_ids_df = pd.read_excel("../data/game_ids.xlsx")
game_ids_df = game_ids_df.astype({"tournamentId":"str", "matchId":"str", "gameId":"str"})
game_ids_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9287 entries, 0 to 9286
Data columns (total 37 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   startTime(match)         9287 non-null   object
 1   tournamentId             9287 non-null   object
 2   blockName                9287 non-null   object
 3   leagueName               9287 non-null   object
 4   matchId                  9287 non-null   object
 5   bestof                   9287 non-null   int64
 6   blueteam_name            9287 non-null   object
 7   blueteam_code            9287 non-null   object
 8   blueteam_win             9287 non-null   int64
 9   redteam_name             9287 non-null   object
 10  redteam_code             9287 non-null   object
 11  redteam_win              9287 non-null   int64
 12  gameNumberInAMatch       9287 non-null   int64
 13  gameId                   9287 non-null   object
 14  patch                    8081 non-null   float64
 15  pick_0                   8023 non-null   object
 16  pick_1                   8023 non-null   object
 17  pick_2                   8023 non-null   object
 18  pick_3                   8023 non-null   object
 19  pick_4                   8023 non-null   object
 20  pick_5                   8023 non-null   object
 21  pick_6                   8023 non-null   object
 22  pick_7                   8023 non-null   object
 23  pick_8                   8023 non-null   object
 24  pick_9                   8023 non-null   object
 25  summonerName_0           8023 non-null   object
 26  summonerName_1           8023 non-null   object
 27  summonerName_2           8023 non-null   object
 28  summonerName_3           8023 non-null   object
 29  summonerName_4           8023 non-null   object
 30  summonerName_5           8023 non-null   object
 31  summonerName_6           8023 non-null   object
 32  summonerName_7           8023 non-null   object
 33  summonerName_8           8023 non-null   object
 34  summonerName_9           8023 non-null   object
 35  teamcode_blue_on_detail  8023 non-null   object
 36  teamcode_red_on_detail   8023 non-null   object
dtypes: float64(1), int64(4), object(32)
memory usage: 2.6+ MB

In [81]:
game_ids_with_picks_df = game_ids_df[pd.isna(game_ids_df["pick_0"]) == False].copy()
game_ids_with_picks_df.reset_index()
game_ids_with_picks_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8023 entries, 0 to 9286
Data columns (total 37 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   startTime(match)         8023 non-null   object
 1   tournamentId             8023 non-null   object
 2   blockName                8023 non-null   object
 3   leagueName               8023 non-null   object
 4   matchId                  8023 non-null   object
 5   bestof                   8023 non-null   int64
 6   blueteam_name            8023 non-null   object
 7   blueteam_code            8023 non-null   object
 8   blueteam_win             8023 non-null   int64
 9   redteam_name             8023 non-null   object
 10  redteam_code             8023 non-null   object
 11  redteam_win              8023 non-null   int64
 12  gameNumberInAMatch       8023 non-null   int64
 13  gameId                   8023 non-null   object
 14  patch                    8023 non-null   float64
 15  pick_0                   8023 non-null   object
 16  pick_1                   8023 non-null   object
 17  pick_2                   8023 non-null   object
 18  pick_3                   8023 non-null   object
 19  pick_4                   8023 non-null   object
 20  pick_5                   8023 non-null   object
 21  pick_6                   8023 non-null   object
 22  pick_7                   8023 non-null   object
 23  pick_8                   8023 non-null   object
 24  pick_9                   8023 non-null   object
 25  summonerName_0           8023 non-null   object
 26  summonerName_1           8023 non-null   object
 27  summonerName_2           8023 non-null   object
 28  summonerName_3           8023 non-null   object
 29  summonerName_4           8023 non-null   object
 30  summonerName_5           8023 non-null   object
 31  summonerName_6           8023 non-null   object
 32  summonerName_7           8023 non-null   object
 33  summonerName_8           8023 non-null   object
 34  summonerName_9           8023 non-null   object
 35  teamcode_blue_on_detail  8023 non-null   object
 36  teamcode_red_on_detail   8023 non-null   object
dtypes: float64(1), int64(4), object(32)
memory usage: 2.3+ MB

In [82]:
def danpan_winnerside(row):
    if row["bestof"] == 1:
        return "Blue" if row["blueteam_win"] == 1 else "Red"
    else:
        return np.nan
game_ids_with_picks_df["winner_side"] = game_ids_with_picks_df.apply(danpan_winnerside, axis=1)
game_ids_with_picks_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8023 entries, 0 to 9286
Data columns (total 38 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   startTime(match)         8023 non-null   object
 1   tournamentId             8023 non-null   object
 2   blockName                8023 non-null   object
 3   leagueName               8023 non-null   object
 4   matchId                  8023 non-null   object
 5   bestof                   8023 non-null   int64
 6   blueteam_name            8023 non-null   object
 7   blueteam_code            8023 non-null   object
 8   blueteam_win             8023 non-null   int64
 9   redteam_name             8023 non-null   object
 10  redteam_code             8023 non-null   object
 11  redteam_win              8023 non-null   int64
 12  gameNumberInAMatch       8023 non-null   int64
 13  gameId                   8023 non-null   object
 14  patch                    8023 non-null   float64
 15  pick_0                   8023 non-null   object
 16  pick_1                   8023 non-null   object
 17  pick_2                   8023 non-null   object
 18  pick_3                   8023 non-null   object
 19  pick_4                   8023 non-null   object
 20  pick_5                   8023 non-null   object
 21  pick_6                   8023 non-null   object
 22  pick_7                   8023 non-null   object
 23  pick_8                   8023 non-null   object
 24  pick_9                   8023 non-null   object
 25  summonerName_0           8023 non-null   object
 26  summonerName_1           8023 non-null   object
 27  summonerName_2           8023 non-null   object
 28  summonerName_3           8023 non-null   object
 29  summonerName_4           8023 non-null   object
 30  summonerName_5           8023 non-null   object
 31  summonerName_6           8023 non-null   object
 32  summonerName_7           8023 non-null   object
 33  summonerName_8           8023 non-null   object
 34  summonerName_9           8023 non-null   object
 35  teamcode_blue_on_detail  8023 non-null   object
 36  teamcode_red_on_detail   8023 non-null   object
 37  winner_side              3525 non-null   object
dtypes: float64(1), int64(4), object(33)
memory usage: 2.4+ MB

In [83]:
game_ids_with_picks_df.loc[game_ids_with_picks_df["bestof"] == 1].head()

,startTime(match),tournamentId,blockName,leagueName,matchId,bestof,blueteam_name,blueteam_code,blueteam_win,redteam_name,...,summonerName_3,summonerName_4,summonerName_5,summonerName_6,summonerName_7,summonerName_8,summonerName_9,teamcode_blue_on_detail,teamcode_red_on_detail,winner_side
154,2022-05-10T08:00:00Z,107905284983470149,Round 1,MSI,108176841597230180,1,T1,T1,1,Vikings Esports,...,Gumayusi,Keria,Hasmed,BeanJ,Froggy,Shogun,Taki,T1,SGB,Blue
155,2022-05-10T09:00:00Z,107905284983470149,Round 1,MSI,108176841597230190,1,Team Aze,AZE,0,DetonatioN FocusMe,...,5kid,Straight,Evi,Steal,Yaharong,Yutapon,Harp,AZE,DFM,Red
156,2022-05-10T10:00:00Z,107905284983470149,Round 1,MSI,108176841597295766,1,ORDER,ORD,0,G2 Esports,...,Puma,Corporal,BrokenBlade,Jankos,caPs,Flakked,Targamas,ORD,G2,Red
157,2022-05-10T11:00:00Z,107905284983470149,Round 1,MSI,108176841597295764,1,Evil Geniuses LG,EG,0,G2 Esports,...,Danny,Vulcan,BrokenBlade,Jankos,caPs,Flakked,Targamas,EG,G2,Red
158,2022-05-10T13:00:00Z,107905284983470149,Round 1,MSI,108176841597295748,1,RED Kalunga,RED,1,PSG Talon,...,TitaN,Jojo,Hanabi,Juhan,Bay,Unified,Kaiwing,RED,PSG,Blue

In [84]:
game_ids_with_picks_df.to_excel("../data/game_ids_with_winside_danpan.xlsx")

In [85]:
game_ids_without_danpan_df = game_ids_with_picks_df[pd.isna(game_ids_with_picks_df["winner_side"]) == True].copy()
game_ids_without_danpan_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4498 entries, 0 to 9286
Data columns (total 38 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   startTime(match)         4498 non-null   object
 1   tournamentId             4498 non-null   object
 2   blockName                4498 non-null   object
 3   leagueName               4498 non-null   object
 4   matchId                  4498 non-null   object
 5   bestof                   4498 non-null   int64
 6   blueteam_name            4498 non-null   object
 7   blueteam_code            4498 non-null   object
 8   blueteam_win             4498 non-null   int64
 9   redteam_name             4498 non-null   object
 10  redteam_code             4498 non-null   object
 11  redteam_win              4498 non-null   int64
 12  gameNumberInAMatch       4498 non-null   int64
 13  gameId                   4498 non-null   object
 14  patch                    4498 non-null   float64
 15  pick_0                   4498 non-null   object
 16  pick_1                   4498 non-null   object
 17  pick_2                   4498 non-null   object
 18  pick_3                   4498 non-null   object
 19  pick_4                   4498 non-null   object
 20  pick_5                   4498 non-null   object
 21  pick_6                   4498 non-null   object
 22  pick_7                   4498 non-null   object
 23  pick_8                   4498 non-null   object
 24  pick_9                   4498 non-null   object
 25  summonerName_0           4498 non-null   object
 26  summonerName_1           4498 non-null   object
 27  summonerName_2           4498 non-null   object
 28  summonerName_3           4498 non-null   object
 29  summonerName_4           4498 non-null   object
 30  summonerName_5           4498 non-null   object
 31  summonerName_6           4498 non-null   object
 32  summonerName_7           4498 non-null   object
 33  summonerName_8           4498 non-null   object
 34  summonerName_9           4498 non-null   object
 35  teamcode_blue_on_detail  4498 non-null   object
 36  teamcode_red_on_detail   4498 non-null   object
 37  winner_side              0 non-null      object
dtypes: float64(1), int64(4), object(33)
memory usage: 1.3+ MB

In [86]:
crawled_df = pd.read_excel("../data/crawling_result_with_codenames.xlsx")
crawled_df = crawled_df.astype({"tournament_id":"str", "patch":"str"})
crawled_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20179 entries, 0 to 20178
Data columns (total 41 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              20179 non-null  object
 1   tournament_title  20179 non-null  object
 2   patch             20179 non-null  object
 3   blueteam          20179 non-null  object
 4   redteam           20179 non-null  object
 5   winner_side       20179 non-null  object
 6   ban_0             20135 non-null  object
 7   ban_1             20152 non-null  object
 8   ban_2             20147 non-null  object
 9   ban_3             16973 non-null  object
 10  ban_4             16887 non-null  object
 11  ban_5             20127 non-null  object
 12  ban_6             20151 non-null  object
 13  ban_7             20143 non-null  object
 14  ban_8             16978 non-null  object
 15  ban_9             16875 non-null  object
 16  pick_0            20179 non-null  object
 17  pick_1            20179 non-null  object
 18  pick_2            20179 non-null  object
 19  pick_3            20179 non-null  object
 20  pick_4            20179 non-null  object
 21  pick_5            20179 non-null  object
 22  pick_6            20179 non-null  object
 23  pick_7            20179 non-null  object
 24  pick_8            20179 non-null  object
 25  pick_9            20179 non-null  object
 26  summonerName_0    20179 non-null  object
 27  summonerName_1    20179 non-null  object
 28  summonerName_2    20179 non-null  object
 29  summonerName_3    20179 non-null  object
 30  summonerName_4    20178 non-null  object
 31  summonerName_5    20179 non-null  object
 32  summonerName_6    20179 non-null  object
 33  summonerName_7    20179 non-null  object
 34  summonerName_8    20179 non-null  object
 35  summonerName_9    20179 non-null  object
 36  tournament_name   20179 non-null  object
 37  tournament_id     20179 non-null  object
 38  tournament_slug   20179 non-null  object
 39  blueteam_code     20179 non-null  object
 40  redteam_code      20179 non-null  object
dtypes: object(41)
memory usage: 6.3+ MB

In [110]:
crawled_df_test = crawled_df[crawled_df["ban_0"].isna()]
crawled_df_test.head()

,date,tournament_title,patch,blueteam,redteam,winner_side,ban_0,ban_1,ban_2,ban_3,...,summonerName_5,summonerName_6,summonerName_7,summonerName_8,summonerName_9,tournament_name,tournament_id,tournament_slug,blueteam_code,redteam_code
2345,2016-01-30,\n\t\t\t\t\tNA LCS 2016 Spring,6.1,Team Impulse,Dignitas,Blue,NaN,NaN,Elise,NaN,...,BillyBoss,Kirei,Shiphtur,Apollo,KiWiKiD,NA LCS 2016 Spring,106972812538132507,na_lcs_spring_2016,TIP,DIG
2428,2015-07-04,\n\t\t\t\t\tNA LCS 2015 Summer,5.12,Cloud9,Team Liquid,Red,NaN,NaN,Sivir,NaN,...,Quas,IWDominate,FeniX,Piglet,Xpecial,NA LCS 2015 Summer,107741488941545959,na_lcs_summer_2015,C9,TL
2449,2015-06-20,\n\t\t\t\t\tNA LCS 2015 Summer,5.11,Team Dragon Knights,Counter Logic Gaming,Red,NaN,NaN,NaN,NaN,...,ZionSpartan,Xmithie,Pobelter,Doublelift,Aphromoo,NA LCS 2015 Summer,107741488941545959,na_lcs_summer_2015,TDK,CLG
2471,2015-05-31,\n\t\t\t\t\tNA LCS 2015 Summer,5.9,Team Dragon Knights,Gravity (North American Team),Red,NaN,NaN,NaN,NaN,...,Hauntzer,Move,Keane,Altec,Bunny FuFuu,NA LCS 2015 Summer,107741488941545959,na_lcs_summer_2015,TDK,GRV
2479,2015-05-30,\n\t\t\t\t\tNA LCS 2015 Summer,5.9,Team Dragon Knights,Team Liquid,Red,NaN,NaN,NaN,NaN,...,Quas,IWDominate,FeniX,Piglet,Xpecial,NA LCS 2015 Summer,107741488941545959,na_lcs_summer_2015,TDK,TL

In [87]:
pick_column_list = [f"pick_{x}" for x in range(10)]
left_on = ["tournamentId", "teamcode_blue_on_detail", "teamcode_red_on_detail"]
right_on = ["tournament_id", "blueteam_code", "redteam_code"]
left_on.extend(pick_column_list)
right_on.extend(pick_column_list)
game_ids_with_picks_df = game_ids_df.astype({"patch":"str"})
print(left_on)
print(right_on)

['tournamentId', 'teamcode_blue_on_detail', 'teamcode_red_on_detail', 'pick_0', 'pick_1', 'pick_2', 'pick_3', 'pick_4', 'pick_5', 'pick_6', 'pick_7', 'pick_8', 'pick_9']
['tournament_id', 'blueteam_code', 'redteam_code', 'pick_0', 'pick_1', 'pick_2', 'pick_3', 'pick_4', 'pick_5', 'pick_6', 'pick_7', 'pick_8', 'pick_9']

In [88]:
game_ids_without_danpan_df[left_on].head()

,tournamentId,teamcode_blue_on_detail,teamcode_red_on_detail,pick_0,pick_1,pick_2,pick_3,pick_4,pick_5,pick_6,pick_7,pick_8,pick_9
0,112099354464733424,FLY,PSG,Urgot,Sejuani,Taliyah,Jinx,Nautilus,Rumble,JarvanIV,Azir,Senna,TahmKench
1,112099354464733424,FLY,PSG,Urgot,Maokai,Taliyah,Lucian,Nami,KSante,Sejuani,Azir,Kalista,Ashe
2,112099354464733424,PSG,FLY,KSante,XinZhao,Karma,Kalista,Rell,Olaf,Sejuani,Orianna,Varus,Nautilus
3,112099354464733424,T1,EST,KSante,LeeSin,Orianna,Kalista,Neeko,Yone,Volibear,Ahri,Draven,Rell
4,112099354464733424,EST,T1,Aatrox,LeeSin,Ahri,Draven,Ashe,KSante,Viego,Orianna,Kalista,Rumble

In [89]:
crawled_df[right_on].head()

,tournament_id,blueteam_code,redteam_code,pick_0,pick_1,pick_2,pick_3,pick_4,pick_5,pick_6,pick_7,pick_8,pick_9
0,112099354464733424,GEN,BLG,Rumble,Lee Sin,Azir,Senna,Maokai,Camille,Nidalee,Tristana,Zeri,Nautilus
1,112099354464733424,BLG,GEN,Jax,Nidalee,Jayce,Senna,Tahm Kench,Rumble,Lee Sin,Hwei,Kalista,Ashe
2,112099354464733424,BLG,GEN,Camille,Xin Zhao,Orianna,Varus,Ashe,Zac,Sejuani,Yone,Kalista,Blitzcrank
3,112099354464733424,GEN,BLG,K'Sante,Karthus,Yone,Senna,Tahm Kench,Twisted Fate,Xin Zhao,Neeko,Lucian,Nami
4,112099354464733424,BLG,T1,Camille,Xin Zhao,Neeko,Senna,Ornn,K'Sante,Viego,Taliyah,Varus,Nautilus

In [90]:
with open('../data/pick_name_not_the_same.json', 'r') as f:
    pick_difference_map = json.load(f)
crawled_df[pick_column_list] = crawled_df[pick_column_list].replace(pick_difference_map)

In [91]:
picks_of_game_ids_set = set(np.concatenate(game_ids_with_picks_df.loc[:,pick_column_list].values.tolist()).tolist())
picks_of_crawled_set = set(np.concatenate(crawled_df.loc[:,pick_column_list].values.tolist()).tolist())
difference_of_game_ids = picks_of_game_ids_set.difference(picks_of_crawled_set)
difference_of_crawled = picks_of_crawled_set.difference(picks_of_game_ids_set)

In [92]:
print(difference_of_game_ids)
print(len(difference_of_game_ids))
print(difference_of_crawled)
print(len(difference_of_crawled))

{'nan'}
1
{'Master Yi'}
1

In [93]:
game_ids_without_danpan_df.drop("winner_side", axis=1, inplace = True)
result_df = pd.merge(game_ids_without_danpan_df, crawled_df, how = "left", left_on = left_on, right_on = right_on)

In [94]:
result_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4594 entries, 0 to 4593
Data columns (total 68 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   startTime(match)         4594 non-null   object
 1   tournamentId             4594 non-null   object
 2   blockName                4594 non-null   object
 3   leagueName               4594 non-null   object
 4   matchId                  4594 non-null   object
 5   bestof                   4594 non-null   int64
 6   blueteam_name            4594 non-null   object
 7   blueteam_code_x          4594 non-null   object
 8   blueteam_win             4594 non-null   int64
 9   redteam_name             4594 non-null   object
 10  redteam_code_x           4594 non-null   object
 11  redteam_win              4594 non-null   int64
 12  gameNumberInAMatch       4594 non-null   int64
 13  gameId                   4594 non-null   object
 14  patch_x                  4594 non-null   float64
 15  pick_0                   4594 non-null   object
 16  pick_1                   4594 non-null   object
 17  pick_2                   4594 non-null   object
 18  pick_3                   4594 non-null   object
 19  pick_4                   4594 non-null   object
 20  pick_5                   4594 non-null   object
 21  pick_6                   4594 non-null   object
 22  pick_7                   4594 non-null   object
 23  pick_8                   4594 non-null   object
 24  pick_9                   4594 non-null   object
 25  summonerName_0_x         4594 non-null   object
 26  summonerName_1_x         4594 non-null   object
 27  summonerName_2_x         4594 non-null   object
 28  summonerName_3_x         4594 non-null   object
 29  summonerName_4_x         4594 non-null   object
 30  summonerName_5_x         4594 non-null   object
 31  summonerName_6_x         4594 non-null   object
 32  summonerName_7_x         4594 non-null   object
 33  summonerName_8_x         4594 non-null   object
 34  summonerName_9_x         4594 non-null   object
 35  teamcode_blue_on_detail  4594 non-null   object
 36  teamcode_red_on_detail   4594 non-null   object
 37  date                     3711 non-null   object
 38  tournament_title         3711 non-null   object
 39  patch_y                  3711 non-null   object
 40  blueteam                 3711 non-null   object
 41  redteam                  3711 non-null   object
 42  winner_side              3711 non-null   object
 43  ban_0                    3711 non-null   object
 44  ban_1                    3711 non-null   object
 45  ban_2                    3711 non-null   object
 46  ban_3                    3708 non-null   object
 47  ban_4                    3686 non-null   object
 48  ban_5                    3711 non-null   object
 49  ban_6                    3711 non-null   object
 50  ban_7                    3711 non-null   object
 51  ban_8                    3710 non-null   object
 52  ban_9                    3693 non-null   object
 53  summonerName_0_y         3711 non-null   object
 54  summonerName_1_y         3711 non-null   object
 55  summonerName_2_y         3711 non-null   object
 56  summonerName_3_y         3711 non-null   object
 57  summonerName_4_y         3711 non-null   object
 58  summonerName_5_y         3711 non-null   object
 59  summonerName_6_y         3711 non-null   object
 60  summonerName_7_y         3711 non-null   object
 61  summonerName_8_y         3711 non-null   object
 62  summonerName_9_y         3711 non-null   object
 63  tournament_name          3711 non-null   object
 64  tournament_id            3711 non-null   object
 65  tournament_slug          3711 non-null   object
 66  blueteam_code_y          3711 non-null   object
 67  redteam_code_y           3711 non-null   object
dtypes: float64(1), int64(4), object(63)
memory usage: 2.4+ MB

In [95]:
result_df.to_excel("../data/game_ids_merged.xlsx")

In [96]:
def concat_columns(row):
    return f"{row["blueteam_name"]} vs {row["redteam_name"]}"

In [97]:
handmade_df = result_df[pd.isna(result_df["winner_side"]) == True].copy()
handmade_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 883 entries, 164 to 4544
Data columns (total 68 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   startTime(match)         883 non-null    object
 1   tournamentId             883 non-null    object
 2   blockName                883 non-null    object
 3   leagueName               883 non-null    object
 4   matchId                  883 non-null    object
 5   bestof                   883 non-null    int64
 6   blueteam_name            883 non-null    object
 7   blueteam_code_x          883 non-null    object
 8   blueteam_win             883 non-null    int64
 9   redteam_name             883 non-null    object
 10  redteam_code_x           883 non-null    object
 11  redteam_win              883 non-null    int64
 12  gameNumberInAMatch       883 non-null    int64
 13  gameId                   883 non-null    object
 14  patch_x                  883 non-null    float64
 15  pick_0                   883 non-null    object
 16  pick_1                   883 non-null    object
 17  pick_2                   883 non-null    object
 18  pick_3                   883 non-null    object
 19  pick_4                   883 non-null    object
 20  pick_5                   883 non-null    object
 21  pick_6                   883 non-null    object
 22  pick_7                   883 non-null    object
 23  pick_8                   883 non-null    object
 24  pick_9                   883 non-null    object
 25  summonerName_0_x         883 non-null    object
 26  summonerName_1_x         883 non-null    object
 27  summonerName_2_x         883 non-null    object
 28  summonerName_3_x         883 non-null    object
 29  summonerName_4_x         883 non-null    object
 30  summonerName_5_x         883 non-null    object
 31  summonerName_6_x         883 non-null    object
 32  summonerName_7_x         883 non-null    object
 33  summonerName_8_x         883 non-null    object
 34  summonerName_9_x         883 non-null    object
 35  teamcode_blue_on_detail  883 non-null    object
 36  teamcode_red_on_detail   883 non-null    object
 37  date                     0 non-null      object
 38  tournament_title         0 non-null      object
 39  patch_y                  0 non-null      object
 40  blueteam                 0 non-null      object
 41  redteam                  0 non-null      object
 42  winner_side              0 non-null      object
 43  ban_0                    0 non-null      object
 44  ban_1                    0 non-null      object
 45  ban_2                    0 non-null      object
 46  ban_3                    0 non-null      object
 47  ban_4                    0 non-null      object
 48  ban_5                    0 non-null      object
 49  ban_6                    0 non-null      object
 50  ban_7                    0 non-null      object
 51  ban_8                    0 non-null      object
 52  ban_9                    0 non-null      object
 53  summonerName_0_y         0 non-null      object
 54  summonerName_1_y         0 non-null      object
 55  summonerName_2_y         0 non-null      object
 56  summonerName_3_y         0 non-null      object
 57  summonerName_4_y         0 non-null      object
 58  summonerName_5_y         0 non-null      object
 59  summonerName_6_y         0 non-null      object
 60  summonerName_7_y         0 non-null      object
 61  summonerName_8_y         0 non-null      object
 62  summonerName_9_y         0 non-null      object
 63  tournament_name          0 non-null      object
 64  tournament_id            0 non-null      object
 65  tournament_slug          0 non-null      object
 66  blueteam_code_y          0 non-null      object
 67  redteam_code_y           0 non-null      object
dtypes: float64(1), int64(4), object(63)
memory usage: 476.0+ KB

In [98]:
columns = ["startTime(match)", "tournamentId", "teamcode_blue_on_detail", "teamcode_red_on_detail", "winner_side", "gameId", "patch_x", "blueteam_name", "redteam_name"]
columns.extend([f"pick_{i}" for i in range(10)])
columns.extend([f"summonerName_{i}_x" for i in range(10)])
handmade_df_simple = handmade_df.loc[:, columns]
handmade_df_simple["match_vs"] = handmade_df_simple.apply(concat_columns, axis = 1)
handmade_df_simple.drop(["blueteam_name", "redteam_name"], axis=1, inplace=True)
columns_order = ["startTime(match)", "tournamentId", "match_vs", "teamcode_blue_on_detail", "teamcode_red_on_detail", "winner_side", "gameId", "patch_x"]
columns_order.extend([f"pick_{i}" for i in range(10)])
columns_order.extend([f"summonerName_{i}_x" for i in range(10)])
handmade_df_simple = handmade_df_simple[columns_order]

In [99]:
handmade_df_simple.info()

<class 'pandas.core.frame.DataFrame'>
Index: 883 entries, 164 to 4544
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   startTime(match)         883 non-null    object
 1   tournamentId             883 non-null    object
 2   match_vs                 883 non-null    object
 3   teamcode_blue_on_detail  883 non-null    object
 4   teamcode_red_on_detail   883 non-null    object
 5   winner_side              0 non-null      object
 6   gameId                   883 non-null    object
 7   patch_x                  883 non-null    float64
 8   pick_0                   883 non-null    object
 9   pick_1                   883 non-null    object
 10  pick_2                   883 non-null    object
 11  pick_3                   883 non-null    object
 12  pick_4                   883 non-null    object
 13  pick_5                   883 non-null    object
 14  pick_6                   883 non-null    object
 15  pick_7                   883 non-null    object
 16  pick_8                   883 non-null    object
 17  pick_9                   883 non-null    object
 18  summonerName_0_x         883 non-null    object
 19  summonerName_1_x         883 non-null    object
 20  summonerName_2_x         883 non-null    object
 21  summonerName_3_x         883 non-null    object
 22  summonerName_4_x         883 non-null    object
 23  summonerName_5_x         883 non-null    object
 24  summonerName_6_x         883 non-null    object
 25  summonerName_7_x         883 non-null    object
 26  summonerName_8_x         883 non-null    object
 27  summonerName_9_x         883 non-null    object
dtypes: float64(1), object(27)
memory usage: 200.1+ KB

In [100]:
handmade_df_simple.to_excel("../data/handmade_game_ids_simple.xlsx")

In [ ]:
# result_df.duplicated()