In [54]:
import pandas as pd

In [60]:

# 팀명과 소환사명이 공백 없이 붙어서 나와 문제가 생긴 데이터들이 일부 있습니다. 그걸 팀명과 소환사명으로 분리하기 위한 코드입니다.
# 각 팀 5명의 선수에 대해 공통적으로 앞에 붙은 문자열은 팀명으로 간주합니다.
# 일치하는 부분이 없으면 "", 0을 리턴합니다. 파라미터가 문자열이 아니면 "", -1을 리턴합니다.

def find_common_prefix(strings):
    if not strings:
        return "", -1

    # Find the shortest string in the list
    shortest = min(strings, key=len)
    
    # Initialize the end index of the common prefix
    end_index = len(shortest)
    
    for i in range(len(shortest)):
        # Check if this character is the same in all strings
        current_char = shortest[i]
        for string in strings:
            if string[i] != current_char:
                end_index = i
                break
        if end_index != len(shortest):
            break
    
    # The common prefix
    common_prefix = shortest[:end_index]
    return common_prefix, end_index

In [61]:
df = pd.read_excel("../data/112274705999884336.xlsx")
df.head()

,timestamp,level_0,kills_0,deaths_0,assists_0,totalGoldEarned_0,creepScore_0,killParticipation_0,championDamageShare_0,wardsPlaced_0,...,summonerName_8,side_8,role_8,championName_8,esportsPlayerId_9,teamCode_9,summonerName_9,side_9,role_9,championName_9
0,2024-05-17T09:55:54Z,1,0,0,0,0,0,0.0,0.0,0,...,T1Gumayusi,Red,bottom,Varus,103495716561790834,T1Keri,T1Keria,Red,support,Alistar
1,2024-05-17T09:56:04Z,1,0,0,0,0,0,0.0,0.0,0,...,T1Gumayusi,Red,bottom,Varus,103495716561790834,T1Keri,T1Keria,Red,support,Alistar
2,2024-05-17T09:56:10Z,1,0,0,0,500,0,0.0,0.0,0,...,T1Gumayusi,Red,bottom,Varus,103495716561790834,T1Keri,T1Keria,Red,support,Alistar
3,2024-05-17T09:56:20Z,1,0,0,0,500,0,0.0,0.0,0,...,T1Gumayusi,Red,bottom,Varus,103495716561790834,T1Keri,T1Keria,Red,support,Alistar
4,2024-05-17T09:56:30Z,1,0,0,0,500,0,0.0,0.0,0,...,T1Gumayusi,Red,bottom,Varus,103495716561790834,T1Keri,T1Keria,Red,support,Alistar

In [62]:
PARTICIPANTS_NUMBER_OF_A_TEAM = 5
blueSummonerNames = []
redSummonerNames = []
needed = True

for i in range(PARTICIPANTS_NUMBER_OF_A_TEAM):
    blueteam = df.at[0, f"teamCode_{i}"]
    name = df.at[0, f"summonerName_{i}"]
    if blueteam != name[:-1]: needed = False
    blueSummonerNames.append(name)
    redteam = df.at[0, f"teamCode_{i + PARTICIPANTS_NUMBER_OF_A_TEAM}"]
    name = df.at[0, f"summonerName_{i+PARTICIPANTS_NUMBER_OF_A_TEAM}"]
    if redteam != name[:-1]: needed = False
    redSummonerNames.append(name)

if needed == True:
    blueteamName, blueteamWhere = find_common_prefix(blueSummonerNames)
    redteamName, redteamWhere = find_common_prefix(redSummonerNames)

    for i in range(PARTICIPANTS_NUMBER_OF_A_TEAM):
        print(i, blueteamName, blueteamWhere, redteamName, redteamWhere)
        if blueteamWhere > 0:
            df[f"teamCode_{i}"] = blueteamName
            df[f"summonerName_{i}"] = df[f"summonerName_{i}"].apply(lambda x : x[redteamWhere:])
        if redteamWhere > 0:
            df[f"teamCode_{i+PARTICIPANTS_NUMBER_OF_A_TEAM}"] = redteamName
            df[f"summonerName_{i+PARTICIPANTS_NUMBER_OF_A_TEAM}"] = df[f"summonerName_{i+PARTICIPANTS_NUMBER_OF_A_TEAM}"].apply(lambda x : x[redteamWhere:])

    df.head()[["teamCode_0", "summonerName_0", "teamCode_1", "summonerName_1", "teamCode_2", "summonerName_2", "teamCode_3", "summonerName_3", "teamCode_4", "summonerName_4", "teamCode_5", "summonerName_5", "teamCode_6", "summonerName_6", "teamCode_7", "summonerName_7", "teamCode_8", "summonerName_8", "teamCode_9", "summonerName_9"]]

G2 2
T1 2
True

In [58]:
if needed == True:

0 G2 2 T1 2
1 G2 2 T1 2
2 G2 2 T1 2
3 G2 2 T1 2
4 G2 2 T1 2

,teamCode_0,summonerName_0,teamCode_1,summonerName_1,teamCode_2,summonerName_2,teamCode_3,summonerName_3,teamCode_4,summonerName_4,teamCode_5,summonerName_5,teamCode_6,summonerName_6,teamCode_7,summonerName_7,teamCode_8,summonerName_8,teamCode_9,summonerName_9
0,G2,BrokenBlade,G2,Yike,G2,Caps,G2,HansSama,G2,Mikyx,T1,Zeus,T1,Oner,T1,Faker,T1,Gumayusi,T1,Keria
1,G2,BrokenBlade,G2,Yike,G2,Caps,G2,HansSama,G2,Mikyx,T1,Zeus,T1,Oner,T1,Faker,T1,Gumayusi,T1,Keria
2,G2,BrokenBlade,G2,Yike,G2,Caps,G2,HansSama,G2,Mikyx,T1,Zeus,T1,Oner,T1,Faker,T1,Gumayusi,T1,Keria
3,G2,BrokenBlade,G2,Yike,G2,Caps,G2,HansSama,G2,Mikyx,T1,Zeus,T1,Oner,T1,Faker,T1,Gumayusi,T1,Keria
4,G2,BrokenBlade,G2,Yike,G2,Caps,G2,HansSama,G2,Mikyx,T1,Zeus,T1,Oner,T1,Faker,T1,Gumayusi,T1,Keria