In [1]:
import pandas as pd
import os
import datetime
import numpy as np
from tqdm import tqdm

game_ids.xlsx랑 collected_data가 있어야 돌아감.

In [2]:
PARTICIPANT_NUMBER_OF_A_TEAM = 5
participant_ids_by_role = []
DETAIL_PATH = "../data/collected_data/"

In [ ]:
def getstats(gameId, number):
    pass

In [4]:
strcolumn_dict = {"tournamentId":"str", "matchId":"str", "gameId":"str", "patch":"str"}
temp1 = [f"esportsPlayerId_{i}" for i in range(10)]
temp2 = ["str" for i in range(10)]
esportsPlayerId_type_dict = dict(zip(temp1, temp2))
strcolumn_dict.update(esportsPlayerId_type_dict)
game_ids_df = pd.read_excel("../data/game_ids.xlsx", dtype=strcolumn_dict, index_col = 0)
game_ids_df["startTime(match)"] = game_ids_df["startTime(match)"].apply(lambda x : datetime.datetime.strptime(x[:19], "%Y-%m-%dT%H:%M:%S"))

game_ids_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8023 entries, 0 to 8022
Data columns (total 48 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   startTime(match)         8023 non-null   datetime64[ns]
 1   tournamentId             8023 non-null   object
 2   blockName                8023 non-null   object
 3   leagueName               8023 non-null   object
 4   matchId                  8023 non-null   object
 5   bestof                   8023 non-null   int64
 6   blueteam_name            8023 non-null   object
 7   blueteam_code            8023 non-null   object
 8   blueteam_win             8023 non-null   int64
 9   redteam_name             8023 non-null   object
 10  redteam_code             8023 non-null   object
 11  redteam_win              8023 non-null   int64
 12  gameNumberInAMatch       8023 non-null   int64
 13  gameId                   8023 non-null   object
 14  patch                    8023 non-null   object
 15  pick_0                   8023 non-null   object
 16  pick_1                   8023 non-null   object
 17  pick_2                   8023 non-null   object
 18  pick_3                   8023 non-null   object
 19  pick_4                   8023 non-null   object
 20  pick_5                   8023 non-null   object
 21  pick_6                   8023 non-null   object
 22  pick_7                   8023 non-null   object
 23  pick_8                   8023 non-null   object
 24  pick_9                   8023 non-null   object
 25  summonerName_0           8023 non-null   object
 26  summonerName_1           8023 non-null   object
 27  summonerName_2           8023 non-null   object
 28  summonerName_3           8023 non-null   object
 29  summonerName_4           8023 non-null   object
 30  summonerName_5           8023 non-null   object
 31  summonerName_6           8023 non-null   object
 32  summonerName_7           8023 non-null   object
 33  summonerName_8           8023 non-null   object
 34  summonerName_9           8023 non-null   object
 35  teamcode_blue_on_detail  8023 non-null   object
 36  teamcode_red_on_detail   8023 non-null   object
 37  esportsPlayerId_0        7960 non-null   object
 38  esportsPlayerId_1        7961 non-null   object
 39  esportsPlayerId_2        7962 non-null   object
 40  esportsPlayerId_3        7951 non-null   object
 41  esportsPlayerId_4        7970 non-null   object
 42  esportsPlayerId_5        7964 non-null   object
 43  esportsPlayerId_6        7965 non-null   object
 44  esportsPlayerId_7        7964 non-null   object
 45  esportsPlayerId_8        7951 non-null   object
 46  esportsPlayerId_9        7970 non-null   object
 47  winner_side              8023 non-null   object
dtypes: datetime64[ns](1), int64(4), object(43)
memory usage: 3.0+ MB

In [5]:
game_ids_df.head()

,startTime(match),tournamentId,blockName,leagueName,matchId,bestof,blueteam_name,blueteam_code,blueteam_win,redteam_name,...,esportsPlayerId_1,esportsPlayerId_2,esportsPlayerId_3,esportsPlayerId_4,esportsPlayerId_5,esportsPlayerId_6,esportsPlayerId_7,esportsPlayerId_8,esportsPlayerId_9,winner_side
0,2024-05-01 08:00:00,112099354464733424,Play-Ins,MSI,112274687401036074,3,FlyQuest,FLY,2,PSG Talon,...,101389713966873995,98767991798919851,108369186353082038,106625308523122120,104573202011010010,101971954398227333,98767991764579452,98767975924333750,99566406444168246,Red
1,2024-05-01 08:00:00,112099354464733424,Play-Ins,MSI,112274687401036074,3,FlyQuest,FLY,2,PSG Talon,...,101389713966873995,98767991798919851,108369186353082038,106625308523122120,104573202011010010,101971954398227333,98767991764579452,98767975924333750,99566406444168246,Blue
2,2024-05-01 08:00:00,112099354464733424,Play-Ins,MSI,112274687401036074,3,FlyQuest,FLY,2,PSG Talon,...,101971954398227333,98767991764579452,98767975924333750,99566406444168246,99322214662601038,101389713966873995,98767991798919851,108369186353082038,106625308523122120,Red
3,2024-05-01 11:00:00,112099354464733424,Play-Ins,MSI,112274687401036078,3,T1,T1,2,Estral Esports,...,105320682452092471,98767991747728851,103495716775975785,103495716561790834,105516185566739968,99566408350815597,102825747663199158,106276221575238438,105506922297942200,Blue
4,2024-05-01 11:00:00,112099354464733424,Play-Ins,MSI,112274687401036078,3,T1,T1,2,Estral Esports,...,99566408350815597,102825747663199158,106276221575238438,105506922297942200,105320680474347057,105320682452092471,98767991747728851,103495716775975785,103495716561790834,Red

In [11]:
strcolumn_dict_of_collected_datas = {"gameId":"str", "esportsTeamId_Blue":"str", "esportsTeamId_Red":"str"}
strcolumn_dict_of_collected_datas.update(esportsPlayerId_type_dict)
last_row_of_collected_datas_df = pd.read_excel("../data/last_row_of_collected_datas.xlsx", dtype = strcolumn_dict_of_collected_datas)
last_row_of_collected_datas_df.info(verbose=True, show_counts = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8036 entries, 0 to 8035
Data columns (total 166 columns):
 #    Column                 Non-Null Count  Dtype
---   ------                 --------------  -----
 0    gameId                 8036 non-null   object
 1    duration               8036 non-null   int64
 2    esportsTeamId_Blue     8036 non-null   object
 3    esportsTeamId_Red      8036 non-null   object
 4    blue_totalGold         8036 non-null   int64
 5    blue_inhibitors        8036 non-null   int64
 6    blue_towers            8036 non-null   int64
 7    blue_barons            8036 non-null   int64
 8    blue_totalKills        8036 non-null   int64
 9    blue_dragons_count     8036 non-null   int64
 10   red_totalGold          8036 non-null   int64
 11   red_inhibitors         8036 non-null   int64
 12   red_towers             8036 non-null   int64
 13   red_barons             8036 non-null   int64
 14   red_totalKills         8036 non-null   int64
 15   red_dragons_count      8036 non-null   int64
 16   esportsPlayerId_0      7973 non-null   object
 17   teamCode_0             8036 non-null   object
 18   summonerName_0         8036 non-null   object
 19   championName_0         8036 non-null   object
 20   level_0                8036 non-null   int64
 21   maxHealth_0            8036 non-null   int64
 22   kills_0                8036 non-null   int64
 23   deaths_0               8036 non-null   int64
 24   assists_0              8036 non-null   int64
 25   totalGoldEarned_0      8036 non-null   int64
 26   creepScore_0           8036 non-null   int64
 27   killParticipation_0    8036 non-null   float64
 28   championDamageShare_0  8036 non-null   float64
 29   wardsPlaced_0          8036 non-null   int64
 30   wardsDestroyed_0       8036 non-null   int64
 31   esportsPlayerId_1      7974 non-null   object
 32   teamCode_1             8036 non-null   object
 33   summonerName_1         8036 non-null   object
 34   championName_1         8036 non-null   object
 35   level_1                8036 non-null   int64
 36   maxHealth_1            8036 non-null   int64
 37   kills_1                8036 non-null   int64
 38   deaths_1               8036 non-null   int64
 39   assists_1              8036 non-null   int64
 40   totalGoldEarned_1      8036 non-null   int64
 41   creepScore_1           8036 non-null   int64
 42   killParticipation_1    8036 non-null   float64
 43   championDamageShare_1  8036 non-null   float64
 44   wardsPlaced_1          8036 non-null   int64
 45   wardsDestroyed_1       8036 non-null   int64
 46   esportsPlayerId_2      7975 non-null   object
 47   teamCode_2             8036 non-null   object
 48   summonerName_2         8036 non-null   object
 49   championName_2         8036 non-null   object
 50   level_2                8036 non-null   int64
 51   maxHealth_2            8036 non-null   int64
 52   kills_2                8036 non-null   int64
 53   deaths_2               8036 non-null   int64
 54   assists_2              8036 non-null   int64
 55   totalGoldEarned_2      8036 non-null   int64
 56   creepScore_2           8036 non-null   int64
 57   killParticipation_2    8036 non-null   float64
 58   championDamageShare_2  8036 non-null   float64
 59   wardsPlaced_2          8036 non-null   int64
 60   wardsDestroyed_2       8036 non-null   int64
 61   esportsPlayerId_3      7964 non-null   object
 62   teamCode_3             8036 non-null   object
 63   summonerName_3         8036 non-null   object
 64   championName_3         8036 non-null   object
 65   level_3                8036 non-null   int64
 66   maxHealth_3            8036 non-null   int64
 67   kills_3                8036 non-null   int64
 68   deaths_3               8036 non-null   int64
 69   assists_3              8036 non-null   int64
 70   totalGoldEarned_3      8036 non-null   int64
 71   creepScore_3           8036 non-null   int64
 72   killParticipation_3    8036 non-null   float64
 73   championDamageShare_3  8036 non-null   float64
 74   wardsPlaced_3          8036 non-null   int64
 75   wardsDestroyed_3       8036 non-null   int64
 76   esportsPlayerId_4      7983 non-null   object
 77   teamCode_4             8036 non-null   object
 78   summonerName_4         8036 non-null   object
 79   championName_4         8036 non-null   object
 80   level_4                8036 non-null   int64
 81   maxHealth_4            8036 non-null   int64
 82   kills_4                8036 non-null   int64
 83   deaths_4               8036 non-null   int64
 84   assists_4              8036 non-null   int64
 85   totalGoldEarned_4      8036 non-null   int64
 86   creepScore_4           8036 non-null   int64
 87   killParticipation_4    8036 non-null   float64
 88   championDamageShare_4  8036 non-null   float64
 89   wardsPlaced_4          8036 non-null   int64
 90   wardsDestroyed_4       8036 non-null   int64
 91   esportsPlayerId_5      7977 non-null   object
 92   teamCode_5             8036 non-null   object
 93   summonerName_5         8036 non-null   object
 94   championName_5         8036 non-null   object
 95   level_5                8036 non-null   int64
 96   maxHealth_5            8036 non-null   int64
 97   kills_5                8036 non-null   int64
 98   deaths_5               8036 non-null   int64
 99   assists_5              8036 non-null   int64
 100  totalGoldEarned_5      8036 non-null   int64
 101  creepScore_5           8036 non-null   int64
 102  killParticipation_5    8036 non-null   float64
 103  championDamageShare_5  8036 non-null   float64
 104  wardsPlaced_5          8036 non-null   int64
 105  wardsDestroyed_5       8036 non-null   int64
 106  esportsPlayerId_6      7978 non-null   object
 107  teamCode_6             8036 non-null   object
 108  summonerName_6         8036 non-null   object
 109  championName_6         8036 non-null   object
 110  level_6                8036 non-null   int64
 111  maxHealth_6            8036 non-null   int64
 112  kills_6                8036 non-null   int64
 113  deaths_6               8036 non-null   int64
 114  assists_6              8036 non-null   int64
 115  totalGoldEarned_6      8036 non-null   int64
 116  creepScore_6           8036 non-null   int64
 117  killParticipation_6    8036 non-null   float64
 118  championDamageShare_6  8036 non-null   float64
 119  wardsPlaced_6          8036 non-null   int64
 120  wardsDestroyed_6       8036 non-null   int64
 121  esportsPlayerId_7      7977 non-null   object
 122  teamCode_7             8036 non-null   object
 123  summonerName_7         8036 non-null   object
 124  championName_7         8036 non-null   object
 125  level_7                8036 non-null   int64
 126  maxHealth_7            8036 non-null   int64
 127  kills_7                8036 non-null   int64
 128  deaths_7               8036 non-null   int64
 129  assists_7              8036 non-null   int64
 130  totalGoldEarned_7      8036 non-null   int64
 131  creepScore_7           8036 non-null   int64
 132  killParticipation_7    8036 non-null   float64
 133  championDamageShare_7  8036 non-null   float64
 134  wardsPlaced_7          8036 non-null   int64
 135  wardsDestroyed_7       8036 non-null   int64
 136  esportsPlayerId_8      7964 non-null   object
 137  teamCode_8             8036 non-null   object
 138  summonerName_8         8036 non-null   object
 139  championName_8         8036 non-null   object
 140  level_8                8036 non-null   int64
 141  maxHealth_8            8036 non-null   int64
 142  kills_8                8036 non-null   int64
 143  deaths_8               8036 non-null   int64
 144  assists_8              8036 non-null   int64
 145  totalGoldEarned_8      8036 non-null   int64
 146  creepScore_8           8036 non-null   int64
 147  killParticipation_8    8036 non-null   float64
 148  championDamageShare_8  8036 non-null   float64
 149  wardsPlaced_8          8036 non-null   int64
 150  wardsDestroyed_8       8036 non-null   int64
 151  esportsPlayerId_9      7983 non-null   object
 152  teamCode_9             8036 non-null   object
 153  summonerName_9         8036 non-null   object
 154  championName_9         8036 non-null   object
 155  level_9                8036 non-null   int64
 156  maxHealth_9            8036 non-null   int64
 157  kills_9                8036 non-null   int64
 158  deaths_9               8036 non-null   int64
 159  assists_9              8036 non-null   int64
 160  totalGoldEarned_9      8036 non-null   int64
 161  creepScore_9           8036 non-null   int64
 162  killParticipation_9    8036 non-null   float64
 163  championDamageShare_9  8036 non-null   float64
 164  wardsPlaced_9          8036 non-null   int64
 165  wardsDestroyed_9       8036 non-null   int64
dtypes: float64(20), int64(103), object(43)
memory usage: 10.2+ MB

In [25]:
mapping = last_row_of_collected_datas_df.set_index('gameId')['esportsTeamId_Blue']
game_ids_df["esportsTeamId_Blue"] = game_ids_df["gameId"].map(mapping)
mapping = last_row_of_collected_datas_df.set_index('gameId')['esportsTeamId_Red']
game_ids_df["esportsTeamId_Red"] = game_ids_df["gameId"].map(mapping)

In [26]:
game_ids_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8023 entries, 0 to 8022
Data columns (total 50 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   startTime(match)         8023 non-null   datetime64[ns]
 1   tournamentId             8023 non-null   object
 2   blockName                8023 non-null   object
 3   leagueName               8023 non-null   object
 4   matchId                  8023 non-null   object
 5   bestof                   8023 non-null   int64
 6   blueteam_name            8023 non-null   object
 7   blueteam_code            8023 non-null   object
 8   blueteam_win             8023 non-null   int64
 9   redteam_name             8023 non-null   object
 10  redteam_code             8023 non-null   object
 11  redteam_win              8023 non-null   int64
 12  gameNumberInAMatch       8023 non-null   int64
 13  gameId                   8023 non-null   object
 14  patch                    8023 non-null   object
 15  pick_0                   8023 non-null   object
 16  pick_1                   8023 non-null   object
 17  pick_2                   8023 non-null   object
 18  pick_3                   8023 non-null   object
 19  pick_4                   8023 non-null   object
 20  pick_5                   8023 non-null   object
 21  pick_6                   8023 non-null   object
 22  pick_7                   8023 non-null   object
 23  pick_8                   8023 non-null   object
 24  pick_9                   8023 non-null   object
 25  summonerName_0           8023 non-null   object
 26  summonerName_1           8023 non-null   object
 27  summonerName_2           8023 non-null   object
 28  summonerName_3           8023 non-null   object
 29  summonerName_4           8023 non-null   object
 30  summonerName_5           8023 non-null   object
 31  summonerName_6           8023 non-null   object
 32  summonerName_7           8023 non-null   object
 33  summonerName_8           8023 non-null   object
 34  summonerName_9           8023 non-null   object
 35  teamcode_blue_on_detail  8023 non-null   object
 36  teamcode_red_on_detail   8023 non-null   object
 37  esportsPlayerId_0        7960 non-null   object
 38  esportsPlayerId_1        7961 non-null   object
 39  esportsPlayerId_2        7962 non-null   object
 40  esportsPlayerId_3        7951 non-null   object
 41  esportsPlayerId_4        7970 non-null   object
 42  esportsPlayerId_5        7964 non-null   object
 43  esportsPlayerId_6        7965 non-null   object
 44  esportsPlayerId_7        7964 non-null   object
 45  esportsPlayerId_8        7951 non-null   object
 46  esportsPlayerId_9        7970 non-null   object
 47  winner_side              8023 non-null   object
 48  esportsTeamId_Blue       8021 non-null   object
 49  esportsTeamId_Red        8021 non-null   object
dtypes: datetime64[ns](1), int64(4), object(45)
memory usage: 3.1+ MB

In [27]:
game_ids_df = game_ids_df.loc[pd.isna(game_ids_df["esportsTeamId_Blue"]) == False]

In [28]:
game_ids_df.to_excel("../data/game_ids.xlsx")

여기까지는 game_ids에 esportsteamId를 붙이는 코드였음. 집와서 gameId다시읽을때 str타입으로 읽는 코드 추가할 것. strcolumn_dict에 넣으면 됨.

In [ ]:
game_ids_df_sorted = game_ids_df.sort_values(by="startTime(match)", ascending=False) # 최근 경기가 위로 오도록 내림차순 정렬
game_ids_df_sorted.head()

In [19]:
mapping = last_row_of_collected_datas_df.set_index('gameId')['esportsTeamId_Blue']
game_ids_df_sorted["esportsTeamId_Blue"] = game_ids_df_sorted["gameId"].map(mapping)
mapping = last_row_of_collected_datas_df.set_index('gameId')['esportsTeamId_Red']
game_ids_df_sorted["esportsTeamId_Red"] = game_ids_df_sorted["gameId"].map(mapping)
#game_ids_df_sorted["esportsTeamId_Blue"] = game_ids_df_sorted.apply(lambda row : last_row_of_collected_datas_df.loc[last_row_of_collected_datas_df["gameId"] == row["gameId"]]["esportsTeamId_Blue"], axis = 1)
#game_ids_df_sorted["esportsTeamId_Red"] = game_ids_df_sorted.apply(lambda row : last_row_of_collected_datas_df.loc[last_row_of_collected_datas_df["gameId"] == row["gameId"]]["esportsTeamId_Red"], axis = 1)
game_ids_df_sorted.tail()

,startTime(match),tournamentId,blockName,leagueName,matchId,bestof,blueteam_name,blueteam_code,blueteam_win,redteam_name,...,esportsPlayerId_3,esportsPlayerId_4,esportsPlayerId_5,esportsPlayerId_6,esportsPlayerId_7,esportsPlayerId_8,esportsPlayerId_9,winner_side,esportsTeamId_Blue,esportsTeamId_Red
884,2021-06-05 02:00:00,105658534671026792,Week 1,LCS,105658534675876677,1,FlyQuest,FLY,1,CLG,...,103461966875625344,100719501156073216,101389713973624205,98767975966749981,98767991777659617,98926509745704018,98767991804151434,Blue,98926509892121852,98926509884398584
883,2021-06-05 01:00:00,105658534671026792,Week 1,LCS,105658534675876651,1,100 Thieves,100,0,Immortals Progressive,...,99566406314527111,98926509793730393,103478281372021286,99322214660829968,98926509877984406,99566406296347493,98767975935156907,Red,99294153828264740,98767991930907107
882,2021-06-05 00:00:00,105658534671026792,Week 1,LCS,105658534675876665,1,Golden Guardians,GG,1,Cloud9,...,98926509773553311,104253650601859992,102206337829139149,99101098218071815,98767975948505333,98767975937423972,99101098208825497,Blue,99294153824386385,98767991877340524
881,2021-06-04 23:00:00,105658534671026792,Week 1,LCS,105658534675876687,1,Evil Geniuses LG,EG,0,Dignitas,...,105913361921383562,98767991788229386,101383793881527569,98926509797315114,101383793878119688,101383793885656347,98926509759999764,Red,103461966951059521,98926509883054987
880,2021-06-04 22:00:00,105658534671026792,Week 1,LCS,105658534675942263,1,Team Liquid Honda,TL,0,TSM,...,101383793877071109,98767991789638893,98767991783220297,99101098220080545,98767991776374577,99322400853596994,98767975903712783,Red,98926509885559666,98767991860392497

In [20]:
game_ids_df_sorted.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8023 entries, 4020 to 880
Data columns (total 50 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   startTime(match)         8023 non-null   datetime64[ns]
 1   tournamentId             8023 non-null   object
 2   blockName                8023 non-null   object
 3   leagueName               8023 non-null   object
 4   matchId                  8023 non-null   object
 5   bestof                   8023 non-null   int64
 6   blueteam_name            8023 non-null   object
 7   blueteam_code            8023 non-null   object
 8   blueteam_win             8023 non-null   int64
 9   redteam_name             8023 non-null   object
 10  redteam_code             8023 non-null   object
 11  redteam_win              8023 non-null   int64
 12  gameNumberInAMatch       8023 non-null   int64
 13  gameId                   8023 non-null   object
 14  patch                    8023 non-null   object
 15  pick_0                   8023 non-null   object
 16  pick_1                   8023 non-null   object
 17  pick_2                   8023 non-null   object
 18  pick_3                   8023 non-null   object
 19  pick_4                   8023 non-null   object
 20  pick_5                   8023 non-null   object
 21  pick_6                   8023 non-null   object
 22  pick_7                   8023 non-null   object
 23  pick_8                   8023 non-null   object
 24  pick_9                   8023 non-null   object
 25  summonerName_0           8023 non-null   object
 26  summonerName_1           8023 non-null   object
 27  summonerName_2           8023 non-null   object
 28  summonerName_3           8023 non-null   object
 29  summonerName_4           8023 non-null   object
 30  summonerName_5           8023 non-null   object
 31  summonerName_6           8023 non-null   object
 32  summonerName_7           8023 non-null   object
 33  summonerName_8           8023 non-null   object
 34  summonerName_9           8023 non-null   object
 35  teamcode_blue_on_detail  8023 non-null   object
 36  teamcode_red_on_detail   8023 non-null   object
 37  esportsPlayerId_0        7960 non-null   object
 38  esportsPlayerId_1        7961 non-null   object
 39  esportsPlayerId_2        7962 non-null   object
 40  esportsPlayerId_3        7951 non-null   object
 41  esportsPlayerId_4        7970 non-null   object
 42  esportsPlayerId_5        7964 non-null   object
 43  esportsPlayerId_6        7965 non-null   object
 44  esportsPlayerId_7        7964 non-null   object
 45  esportsPlayerId_8        7951 non-null   object
 46  esportsPlayerId_9        7970 non-null   object
 47  winner_side              8023 non-null   object
 48  esportsTeamId_Blue       8021 non-null   object
 49  esportsTeamId_Red        8021 non-null   object
dtypes: datetime64[ns](1), int64(4), object(45)
memory usage: 3.1+ MB

In [23]:
game_ids_df_sorted.loc[pd.isna(game_ids_df_sorted["esportsTeamId_Blue"]) == True]["gameId"]

2577    111561337007305539
7067    106269875363891916
Name: gameId, dtype: object

2개는 _toshort로 표시한 그 2경기인걸로 확인

In [5]:
i = 0
for i in range(PARTICIPANT_NUMBER_OF_A_TEAM):       # 탑 정글 미드 원딜 서폿 이렇게..
    game_ids_with_playerId_blue = game_ids_with_picks_df[pd.isna(game_ids_with_picks_df[f"esportsPlayerId_{i}"]) == False]                                  # 블루팀(0~5)에서 서머너ID가 있는 것만
    game_ids_with_playerId_red = game_ids_with_picks_df[pd.isna(game_ids_with_picks_df[f"esportsPlayerId_{i + PARTICIPANT_NUMBER_OF_A_TEAM}"]) == False]    # 레드팀(5~9)에서 서머너ID가 있는 것만
    participant_ids_by_role.append(list(set(pd.concat([game_ids_with_playerId_blue[f"esportsPlayerId_{i}"],game_ids_with_playerId_red[f"esportsPlayerId_{i + PARTICIPANT_NUMBER_OF_A_TEAM}"]], ignore_index=True))))

print([len(i) for i in participant_ids_by_role])
print(participant_ids_by_role[0])

[346, 370, 368, 355, 394]
['101383792831678607', '104573231995499518', '98767991787052097', '107569568015156338', '101799086969700514', '106466536685100550', '105957589636391222', '107705430994631113', '101383792855140515', '106105043525540824', '104251865849200240', '105709413113050046', '107614697432935001', '99566408542840078', '101796918394601598', '107568579494407911', '99566404541748447', '98767975938371599', '109675627129279585', '98926509821954141', '99566408210057665', '109675500511180816', '107568586413146262', '105515229738531937', '111720165230650519', '107688960045460307', '100725844987233506', '109828407662355333', '98767975933568904', '107251528271309568', '101388913291808185', '105581684606195509', '107647477264255840', '100164952147744283', '104266795407626462', '108316132748778567', '108553450969769750', '107705432370779918', '99566408307919824', '107251646222113259', '100131567589299245', '105709428644866635', '111934286166932665', '107635905118503535', '107642475024254547', '106470363905585406', '105747861836427633', '99566408537224678', '105647956818593679', '99566408531506418', '105501715923396261', '102787199999443508', '100428088879195423', '105512438075390766', '99566404532924465', '106301600611225723', '106470311122977099', '107715200621484403', '105506922297942200', '106714082641340405', '105320699390649600', '106857776709859490', '103478281356330346', '105501712240139757', '103478281361900912', '105501829364113001', '99566405793083799', '98767975944639514', '104573247991198730', '99566406057001171', '101388913286565299', '107705432238432012', '99322214234845496', '107657801460158111', '110451311575097696', '103537145723534552', '102787200003726479', '108442055872374034', '106568321205278659', '110350224593953686', '98767991808793901', '101389749294612370', '107492071007218117', '101428372795092403', '107403452720492567', '109642950588612978', '107705431471339985', '103658626118392139', '110434225307697321', '110462937178590834', '100160799381721105', '103878028597792922', '102179902322952953', '107560059495150409', '105709372540742118', '99921042942435093', '100131733430915231', '108205130568869560', '100205576933154445', '107492108437842420', '100725844996918206', '104285053899708631', '104573210012169189', '110534542285887216', '108410975166714826', '101796953888872633', '103478281338008082', '99322408711949607', '100764658202911967', '107251693318220655', '98926509756623464', '109660341080501895', '105320680474347057', '105511293284046174', '99921042943959644', '99566406300153023', '99566406296347493', '105504919708874561', '99566408340150255', '108577049816871466', '99566404564329223', '107251726945594253', '109873568186476590', '98767975960315466', '105913339633194822', '104327502738107767', '107251561724960718', '106858076227022637', '107635899693202699', '99566408532903766', '99566405933319527', '102191946681774768', '99566406478943840', '105705431649727017', '99322214618656216', '108395452885595731', '103524818068142935', '99566406483009320', '99566404538979273', '104573207505851728', '112477387590015467', '106702283617298068', '99566408349093642', '103103696693473944', '105709369734228451', '99322214604295671', '105732582273104165', '106350874823932435', '109828500641953854', '106572026404718905', '108547753236964530', '108547756029282420', '103478281372021286', '103495716713768831', '99566404562013167', '104559243245199489', '101709753690578020', '109676454639702332', '107444025273240020', '107582753454903267', '106857845200039597', '105397188336529754', '99566406480677699', '99566408306352454', '101422616412154641', '107705431881981700', '98767975956663486', '103495716771322725', '102186438403674539', '98926509838831804', '107647480732814180', '108443040578692452', '107251383938441076', '106274177506022087', '105320695377750123', '106470390660915203', '108547753406304556', '99566408537963625', '98767975915355341', '99566406474312906', '105530965398630857', '107251381045668485', '105501790021137688', '111720042622049047', '101428372795944373', '107376143623858213', '98767975920496624', '105747870296907829', '98767975916831837', '107255602671365761', '107425096707488091', '99322534298200420', '107657790493529410', '100285330144336367', '105700869624784693', '110528442384858640', '99566407763820708', '102546029192465275', '107760649218285384', '102849319862407551', '109691935302762726', '99566408310768239', '103729432252832975', '107760650565174985', '99566407758231326', '107634897325128022', '99566406467987496', '98926509798242286', '100304322190885781', '101388912796120370', '105913365779160208', '110548002908903469', '101388912798086454', '107705431819722496', '108369187970806021', '107705432014305754', '103495716565722998', '105785814323282335', '98767975908541399', '111760351183343187', '99322214598412197', '107330029738468255', '101388913284795825', '100205572948945427', '99322404267511365', '99322416267384658', '98767991746528652', '102825747663199158', '107560327842881671', '107581373077374269', '98767975971974446', '104275744442588539', '100205572901889771', '107568623664164633', '99566404526777331', '99566406483827119', '101978171824164654', '103536968829352943', '101383792457795538', '107688944570765126', '99566405670028941', '107568612893032611', '105502730551080406', '107251636998679351', '101388912784979237', '107492099069012459', '107577677538574806', '108451325720614251', '104573264688460834', '99566406318648094', '110528392681443123', '105501806550703662', '105755998147832536', '99322214580759173', '103658555207094087', '99566406467226603', '106614349987586968', '105548714234532655', '104275681538329533', '106469100072525666', '101388913280994733', '99322408701435122', '98767975939657196', '99566404558187398', '107614778788377598', '99566406315397881', '100725844991699995', '99566408342799240', '105397207118950800', '104573202011010010', '98926509785257793', '108443041194004491', '98767975916458257', '102186485482484390', '105501844568585626', '101422616382597838', '99566407756609146', '107705431058397645', '103525219435043049', '99566406460960171', '100438528849437575', '106548704012452390', '104843445932165305', '108443042455354918', '102501215584239714', '100205573450470698', '105714271946959686', '105320663958816293', '106857825862018379', '99566406476560672', '107614620822269031', '103495716738607011', '103658484585697022', '103495716561790834', '101383793881527569', '107492121209956865', '106544651014311988', '107559111166843860', '99566406024147756', '106470366839758782', '101796977260478598', '99871276342168416', '103743600803050303', '106350736734730852', '107559255871511679', '99322214662601038', '109691839332751409', '105714276869190870', '106279717873849247', '105514974275992586', '102181564372406674', '108406966708866427', '107492129389636107', '106547199482728931', '110541982723891517', '105504931356139592', '102206337829139149', '103963729813922459', '103734705460272719', '106470378679693595', '103495716756708191', '102174664449879465', '106470320886575308', '104668539132702977', '103495716693930864', '105541438961192885', '99566406287983305', '101389713973624205', '105516185566739968', '99566406443271739', '107657786356796634', '106467166754365069', '103743623084654373', '99566406047571736', '99322214668103078', '103597956864090919', '103524181318400020', '112194891368990258', '107577676903662109', '105700980971057429', '105397186917489455', '106288130582997353', '107605411481021064', '104016423753298597', '105576891638502799', '98767991783220297']

아 이제 각 포지션별 플레이어ID 리스트 뽑았고...

In [6]:
game_ids_df_sorted = game_ids_with_picks_df.sort_values(by="startTime(match)", ascending=False) # 최근 경기가 위로 오도록 내림차순 정렬
game_ids_df_sorted.head()

,startTime(match),tournamentId,blockName,leagueName,matchId,bestof,blueteam_name,blueteam_code,blueteam_win,redteam_name,...,esportsPlayerId_0,esportsPlayerId_1,esportsPlayerId_2,esportsPlayerId_3,esportsPlayerId_4,esportsPlayerId_5,esportsPlayerId_6,esportsPlayerId_7,esportsPlayerId_8,esportsPlayerId_9
4059,2024-05-28 10:00:00,112439909522772195,Week 1,LCO,112439909523296569,2,ION Global Esports,ION,2,Kanga Esports,...,111720042622049047,112477437508207101,111720045287922459,111720027901143523,111720051264281664,110462937178590834,111720122152475827,112477352770135560,112477356024384776,112477373979171280
4058,2024-05-28 10:00:00,112439909522772195,Week 1,LCO,112439909523296569,2,ION Global Esports,ION,2,Kanga Esports,...,111720042622049047,112477437508207101,111720045287922459,111720027901143523,111720051264281664,110462937178590834,111720122152475827,112477352770135560,112477356024384776,112477373979171280
4057,2024-05-28 08:00:00,112439909522772195,Week 1,LCO,112439909523296494,2,Fury,FRY,0,Team Bliss,...,105647956818593679,111720087560530528,110462943397555237,108604888219092306,111758035988327173,100160799381721105,104668539132702977,101383792849832093,103643243250697054,101383792831678607
4056,2024-05-28 08:00:00,112439909522772195,Week 1,LCO,112439909523296494,2,Fury,FRY,0,Team Bliss,...,105647956818593679,111720087560530528,110462943397555237,108604888219092306,111758035988327173,100160799381721105,104668539132702977,101383792849832093,103643243250697054,101383792831678607
4054,2024-05-27 10:00:00,112439909522772195,Week 1,LCO,112439909523296515,2,Antic Esports,ANC,2,Dire Wolves,...,107634897325128022,107634941727734818,105709436604717285,99566406296347493,102546029192465275,107647480732814180,112489008809745004,112488998397516384,102206314367722668,105714276869190870

In [9]:
file_list_in_detail = os.listdir(DETAIL_PATH)
for i, participant_ids in enumerate(participant_ids_by_role):     # 탑 정글 미드 원딜 서폿에 대해
    for participant_id in tqdm(participant_ids, total = len(participant_ids)):  # 모든 플레이어들에 대해
        filtered_df = game_ids_df_sorted[game_ids_df_sorted[f"esportsPlayerId_{i}"] == participant_id | \
            game_ids_df_sorted[f"esportsPlayerId_{i + PARTICIPANT_NUMBER_OF_A_TEAM}"] == participant_id].head(5)    # 블루팀 안에 있거나 레드팀 안에 있거나 상관없이 제일 최근 경기 5개를 가져온다.
        for j, row in filtered_df.iterrows():       # 와 3중 반복문 이게 맞나...?
            if row["gameId"] + ".xlsx" in file_list_in_detail:     # invalid말고 온전히 남아 있으면
                
                detail_df = pd.read_excel(DETAIL_PATH + row["gameId"] + ".xlsx")   # 데이터를 읽어와서
                #getstats(detail_df)

 17%|█▋        | 58/346 [04:12<20:51,  4.35s/it]

KeyboardInterrupt:

이제 각 파일 들어가서 원하는 자료 뽑는 함수 만들어서 저기다 넣으면 됨...
getstats에는 gameId랑 participant_id가 몇번인지 그 번호를 넘길거고 그러기위해서는 몇번인지 찾아놔야한다